<ion-view>
    <ion-content padding="true" class="has-header">
        <div class="list" >
            <div class="item text-center padding" >
                <div class="text-center padding"
                     style="padding-top: 50% !important;">
                    <i class="ion ion-android-wifi"
                       style="font-size: 45px"></i><br>
                    <span style="font-size: 20px;font-style: oblique;"><strong>Can't Connect</strong></span><br>
                    <span style="font-size: 15px">Please check your network connection.</span><br><br>
                    <button class="button button-small button-positive" on-tap="try_again()"> Try Again</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>