<ion-view title="Customer details" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">

        <!--login access block-->
        <div class="card">
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col"><img src="http://placehold.it/50x50"></div>
                    <div class="col col-75">
                        <strong>{{storage.tempselectuser.first_name}}</strong><br>{{storage.tempselectuser.email}}
                    </div>
                </div>
            </div>
        </div>

        <!--select service start-->
        <div class="card" ng-show="flags.service_selection">
            <div class="item item-divider">
                Select a service
            </div>
            <a ng-click="select_procedure(v)" class="item item-icon-left" ng-repeat="(k,v) in storage.appinit.formList | filter: formTypeFilter">
                {{v.label}}
            </a>
        </div>
        <!--select service end-->

        <!--procedure log start-->
        <div class="card" ng-show="procedure_log.length">
            <div class="item item-divider">
                <div class="pull-right" ng-click="flags.service_selection = !flags.service_selection"><i class="icon ion-plus-circled"></i>&nbsp; {{flags.service_selection ? 'Close':'New procedure'}}
                </div>
                Procedure History
            </div>
            <a ng-click="" class="item" ng-repeat="(key,value) in procedure_log">
                <div class="pull-right">{{value.created_at | amFromUnix | amDateFormat:'MM/DD/YYYY ddd h:mm a'}}</div>
                {{value.label}}
            </a>
        </div>
        <!--procedure log end-->

        <!--snc card start-->
        <div class="card" ng-if="service.snc">
            <div class="item item-divider">
                <div class="pull-right" ng-click="goto('/allocation')"><i class="icon ion-plus-circled"></i>&nbsp;New Report
                </div>
                S&C
            </div>
            <a ng-click="" class="item" ng-repeat="(k,v) in snc">
                <div class="pull-right">{{value.created_at | amFromUnix | amDateFormat:'MM/DD/YYYY ddd h:mm a'}}
                </div>
                Therapist: {{v.username}}
            </a>

            <div class="item" ng-show="!snc.length">
                No S&C report yet.
            </div>
        </div>
        <!--snc card end-->

        <!--physio card start-->
        <div class="card" ng-if="service.physio">
            <div class="item item-divider">
                <div class="pull-right" ng-click="goto('/physiotherpay/assessment')"><i class="icon ion-plus-circled"></i>&nbsp;New Assessment
                </div>
                Physio Assessment
            </div>
            <a ng-click="" class="item" ng-repeat="(k,v) in physio.list">
                <div class="pull-right">{{value.created_at | amFromUnix | amDateFormat:'MM/DD/YYYY ddd h:mm a'}}
                </div>
                Assessment card {{k+1}}
            </a>

            <a ng-click="" class="item" ng-repeat="(k,v) in physio.comments">
                <div class="pull-right">{{v.created_at | amFromUnix | amDateFormat:'MM/DD/YYYY ddd h:mm a'}}
                </div>
                {{v.comment_details}}
            </a>
            <div class="item" ng-click="goto('/physio/comment')">
                Click to add new comments.
            </div>
            <div class="item" ng-show="!physio.list.length">
                No assessment report yet.
            </div>
        </div>
        <!--physio card end-->

        <!--allocation start-->
        <div class="card">
            <div class="item item-divider">
                <div class="pull-right" ng-click="goto('/allocation')"><i class="icon ion-plus-circled"></i>&nbsp;New Allocation
                </div>
                Therapist allocated
            </div>
            <a ng-click="" class="item" ng-repeat="(k,v) in allocation">
                <div class="pull-right">{{value.created_at | amFromUnix | amDateFormat:'MM/DD/YYYY ddd h:mm a'}}
                </div>
                Therapist: {{v.username}}
            </a>

            <div class="item" ng-show="!appointment.length">
                No therapist allocated yet.
            </div>
        </div>
        <!--allocation end-->

        <!--appointment start-->
        <div class="card">
            <div class="item item-divider">
                <div class="pull-right" ng-click="goto('/appointment')"><i class="icon ion-plus-circled"></i>&nbsp;New Appointment
                </div>
                Appointment
            </div>
            <a ng-click="" class="item" ng-repeat="(k,v) in appointment">
                <div class="pull-right">{{v.appointment_date}}&nbsp;{{v.appointment_time}}</div>
                Therapist: {{v.username}}
            </a>

            <div class="item" ng-show="!appointment.length">
                No therapist allocated yet.
            </div>
        </div>
        <!--appointment end-->


    </ion-content>
</ion-view>