<ion-view title="Dashboard" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">

        <!--login access block-->
        <div ng-show="storage.token">
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col"><img src="http://placehold.it/50x50"></div>
                        <div class="col col-75">
                            <strong>{{storage.user.details.username}}</strong><br>{{storage.user.details.email}}
                        </div>
                    </div>
                </div>
            </div>

            <!--daily task start-->
            <div class="card">
                <div class="item item-divider">
                    Daily Appointment
                </div>
                <div class="row">
                    <div class="col"><strong>Customer</strong></div>
                    <div class="col"><strong>Therapist</strong></div>
                    <div class="col"><strong>Time</strong></div>
                </div>
                <div class="row" ng-repeat="(k,v) in appointment" ng-click="navCustomerDetail(v)">
                    <div class="col">{{v.first_name}}</div>
                    <div class="col">{{v.username}}</div>
                    <div class="col">{{v.appointment_date}}&nbsp;{{v.appointment_time}}</div>
                </div>
                <div class="row" ng-show="!appointment.length">
                    <div class="col">No appointment today.</div></div>
            </div>

            <!--daily task end-->
            <!--Search card start-->
            <div class="card">
                <div class="list">
                    <form name="search">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Search by
                            </div>
                            <select ng-model="fields.search_by" required="">
                                <option value="first_name">First Name</option>
                                <option value="last_name">Last Name</option>
                                <option value="mobile_no">Mobile</option>
                                <option value="email">Email</option>
                            </select>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <input type="text"
                                   placeholder="e.g Johon or 985095000"
                                   required=""
                                   name="ship_customer_name"
                                   ng-model="fields.search">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <input type="submit" class="button button-dark button-block ink button-raised"
                                   ng-disabled="!search.$valid" ng-click="registrationSearch()" value="Search"/>
                        </label>
                    </form>
                </div>
            </div>
            <!--Search card ends-->

            <div class="card" ng-show="display.customerList">
                <div class="item item-divider">
                    Customer
                </div>
                <div class="item item-text-wrap" ng-repeat="(key,value) in registrationList"
                     ng-click="navCustomerDetail(value)">
                    {{value.first_name}} {{value.last_name}}<br> {{value.mobile_no}}
                </div>
                <div class="item item-text-wrap" ng-show="!registrationList" ng-click="goto('/registration')">
                    No such customer. Click to register the customer.
                </div>
            </div>
        </div>

        <!--with out login access block-->
        <div ng-show="!storage.token" style="margin-top:50px;">
            <div class="padding">
                <div class="text-center">
                    <span style="font-size: 50px;" class="icon ion-android-lock"></span>

                    <p style="margin-top: 10px;">
                        You need to be logged-in to see what lives here
                    </p>
                </div>
                <div class="row">
                    <div class="col-25"></div>
                    <div class="col-50">
                        <login-dtr></login-dtr>
                    </div>
                    <div class="col-25"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>