<ion-view id="home"
          hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w"
                menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
        Heal
    </ion-nav-title>
    <ion-content padding="true"
                 overflow-scroll="false"
                 class="has-header no-scroll-bar"
                 style="background-color: #f7f7f7;">

        <form name="loginForm"
          ng-submit="login()">
        <div style="height: 50px;"></div>
        <div class="text-center">
            <h3 class="m">Login to get started</h3>
        </div>
        <div style="height: 10px;"></div>
        <div class="list">
            <label class="item item-input item-stacked-label regular-input regular-input-x2">
                <span class="input-label">Mobile or E-mail</span>
                <input type="text"
                       name="username"
                       placeholder=""
                       required
                       ng-model="loginData.username">
            </label>
            <label class="item item-input item-stacked-label regular-input regular-input-x2">
                <span class="input-label">Password</span>
                <input type="password"
                       name="password"
                       placeholder=""
                       required
                       ng-model="loginData.password">
            </label>
        </div>
        <div class="padding-left padding-right">
            <p ng-if="loginError"
               style="color: red;padding: 13px 0 0px 0px;text-align: center;">{{loginError}}</p>

            <button class="button button-dark button-block ink button-raised"
                    ng-disabled="!loginForm.$valid">
                Login
            </button>
        </div>
    </form>

        <div style="height: 15px"></div>
    </ion-content>
    <style>
        .home-form .item.item-input {
            border: solid 2px red;
            border-radius: 3px;
        }
    </style>
</ion-view>