<ion-side-menus>
    <ion-side-menu-content edge-drag-threshold="true" drag-content="true">
        <ion-nav-bar class="cst-bar-assertive-coolors">
            <!--<ion-nav-back-button class="button-clear">-->
            <!--<i class="ion-android-arrow-back"></i>-->
            <!--</ion-nav-back-button>-->
            <ion-nav-buttons side="left">
                <button class="button-icon ion-navicon w" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="expanded bar bar-header disable-user-behavior">

            <img ng-src="img/heal.png" class="avatar motion spin fade" style="border-radius: inherit;">
            <div class="menu-bottom">
                {{ (!utils.isEmpty(storage.user)) ? (storage.user.profile_fields.fullname || storage.user.username) : 'Numberbazaar'}}
                <span style="font-size: small;color: rgba(255,255,255,.7);" ng-if="!utils.isEmpty(storage.user)"><br>{{storage.user.email}}</span>
            </div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header has-expanded-header">
            <ion-list>
                <ion-item class="item-icon-left dark" ng-click="goto('/home')" ng-if="!storage.token" menu-toggle="left">
                    <i class="icon ion-android-home"></i> Home
                </ion-item>
                <ion-item class="item-icon-left dark" ng-click="goto('/dashboard')" ng-if="storage.token" menu-toggle="left">
                    <i class="icon ion-eye"></i> Dashboard
                </ion-item>
                <ion-item class="item-icon-left dark" ng-click="goto('/login')" ng-if="!storage.token" menu-toggle="left">
                    <i class="icon ion-log-in"></i> Sign in
                </ion-item>
                <ion-item class="item-icon-left dark" ng-click="goto('/registration')" menu-toggle="left">
                    <i class="icon ion-clipboard"></i> Register
                </ion-item>
                <ion-item class="item-divider" ng-if="storage.token">Account</ion-item>
                <ion-item class="item-icon-left dark" ng-click="goto('/dashboard')" ng-if="storage.token" menu-toggle="left">
                    <i class="icon ion-android-contact"></i> My account
                </ion-item>
                <!--<ion-item class="item-icon-left dark" ui-sref="menu.transaction" menu-toggle=left ui-sref-active="active">
                    <i class="icon ion-social-buffer"></i> Transation
                </ion-item>-->
                <ion-item class="item-icon-left dark" ng-click="showlogout();" menu-toggle="left" ng-if="storage.token">
                    <i class="icon ion-android-arrow-back"></i>Logout
                </ion-item>

                <div style="display: none">
                    <!--This is to load the directives, so that its methods are available to use in scope.-->
                    <div login-dtr></div>
                </div>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>