<ion-view title="Order" id="page10">
    <ion-content padding="true" class="has-header">
        <h3>Test View</h3>
        <a ng-click="increasefoo()"> Increase the foo</a>
        <div     
            isteven-multi-select
            input-model="modernBrowsers"
            output-model="outputBrowsers"
            button-label="name"
            item-label="name maker"
            tick-property="ticked"
            >
        </div>
    </ion-content>
</ion-view>