  <form name="loginForm"
              ng-submit="login()">
            <div class="list padding">
                <label class="item item-input item-floating-label cst-white-space">
                    <span class="input-label">Username or E-mail</span>
                    <input type="text"
                           name="username"
                           placeholder="Username or Email"
                           required
                           ng-model="loginData.username">
                </label>
                <label class="item item-input item-floating-label cst-white-space">
                    <span class="input-label">Password</span>
                    <input type="password"
                           name="password"
                           placeholder="Password"
                           required
                           ng-model="loginData.password">
                </label>

                <p ng-if="loginError"
                   style="color: red;padding: 13px 0 0px 0px;text-align: center;">{{loginError}}</p>
                <br>
                
            </div>
        </form>