<form name="promoCodeForm">
    <div class="list padding">
        <label class="item item-input item-floating-label cst-white-space">
                    <span class="input-label">Promo Code</span>
                    <input type="text"
                           name="promocode"
                           placeholder="Promo Code"
                           required
                           ng-model="data.promocode">
                </label>
        <p ng-if="data.promocodeError" style="color: red;padding: 13px 0 0px 0px;text-align: center; font-size: 12px">{{data.promocodeError}}</p>
    </div>
</form>