/*new color: #08747c */

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.eot');
    src: url('../font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../font/Montserrat-Regular.woff') format('woff'), url('../font/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.m {
    font-family: 'Montserrat';
}

/* Utilities */

.link {
    color: #116262;
    font-weight: bold;
}

h4 {
    color: #116262;
    font-size: 22px;
    margin-bottom: 16px;
}

h4:first-child {
    border-top: none;
    padding-top: initial;
}

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 0px;
}

.no-border {
    border: none;
}

.static {
    position: static;
}

.bold {
    font-weight: bold;
}

.border-top {
    border-top: solid 1px #ccc;
    padding-top: 30px;
}

.blue-grey-900 {
    background-color: #263238 !important;
    color: #fff;
}

/* Menu */

.menu .bar.bar-header.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: bold;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}

.ion-arrow-right-c.top-left:before {
    transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
    transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
    transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
    transform: rotate(45deg);
}

#modal {
    background-color: #ef4e3a;
    border-radius: 100%;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 50%;
    bottom: 0;
    opacity: 0;
    width: 700px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.expand #modal {
    background-color: #DBDBDB;
    border-radius: 0;
    border-top: solid 4px #ef4e3a;
    opacity: 1;
    z-index: 9;
}

/* CODE */

.code {
    color: #333;
    font-family: monospace;
    padding: 10px;
    white-space: pre;
}

.code-wrapper {
    padding-bottom: 30px;
    padding-top: 15px;
}

.code-wrapper::before {
    color: #1B5E20;
    font-family: "Ionicons";
    speak: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: '\f216 ';
}

.code-wrapper.active::before {
    content: '\f207 ';
}

.code-wrapper .toggle {
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 8px;
    text-decoration: underline;
}

.code-wrapper .code {
    opacity: 0;
    margin-top: -20px;
    height: 0;
    overflow: hidden;
    position: absolute;
    transition: 0.1s all ease-in-out;
    z-index: 9999999999;
}

.code-wrapper.code-wrapper-last .code {
    position: relative;
}

.code-wrapper.active .code {
    background: #f9f9f9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    left: 16px;
    height: initial;
    margin-top: 15px;
    padding: 15px;
    right: 16px;
    opacity: 1;
    transition: 0.3s all ease-in-out;
    width: initial;
}

.cst-input input {
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 10px 0;
}

/**
* Custom Css
*
*/

.cst-searchbar-align {
    padding-left: 62px;
    padding-top: 3px;
}

.cst-filter-text-padding {
    padding: 20px 0 0 14px !important;
}

.cst-opert-img {
    width: 160% !important;
}

.cst-padding {
    padding: 0px;
}

.cst-no-border {
    border: 0px;
}

.cst-tracking li {
    padding: 0 0 10px 10px;
    font-size: 25px;
    border-left: 1px;
    border-left-color: black;
}

.cst-tracking i {
    display: inline;
    padding: 0px 10px 5px 0;
}

.cst-tracking-header {
    display: inline !important;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.cst-tracking-contain {
    display: inline;
    margin-left: 40px;
}

.cst-pop-height {
    height: auto !important;
    /* For login pop */
}

.cst-alertPop .popup {
    height: 70%;
}

.cst-alertPop .popup-buttons {
    margin-top: 135%;
}

.cst-pop-list {
    min-height: 35px !important;
    padding: 0 0 0 10px !important;
}

.cst-move-right {
    right: 10%;
    position: absolute;
}

.cst-tab-font .tab-item {
    font-size: 14px !important;
}

.cst-remove-bottom-padding {
    padding-bottom: 0px !important;
}

.cst-remove-top-padding {
    /*padding-top: 0px !important;*/
    padding: 3px 21px !important;
}

.cst-remove-side-padding {
    padding: 0px 0px 0px 9px !important;
}

/* form align */

.cst-input-left-padding .item-input {
    padding: 6px 0 5px 5px !important;
}

.cst-icon-ion-right .ion {
    position: absolute;
    top: 10px;
    right: -65px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}

.cst-icon-div-footer-right {
    position: absolute;
    top: 10px;
    right: -35px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}

.cst-icon-div-footer-left {
    position: absolute;
    top: 10px;
    left: 35px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}

.cst-icon-div-footer-center {
    position: absolute;
    top: 10px;
    left: 50%;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}

.cst-validate_error {
    border-bottom: solid 1px #AF182B !important;
}

.cst-search-price-tag {
    position: absolute !important;
    top: 21px !important;
    right: 0px !important;
    line-height: 35px !important;
    padding-left: 17px !important;
    padding-right: 17px !important;
    width: 37%;
}

.cst-avatar-padding {
    padding-left: 75px !important;
}

.cst-search-input {
    width: 100%;
    position: relative;
    top: 5px;
    border-radius: 3px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.cst-subheader-font {
    font-size: inherit !important;
    line-height: 200% !important;
}

.cst-login-model {
    padding: 20px 0 20px 0;
}

.cst-delivery-color {
    color: green;
}

.cst-no-delivery-color {
    color: red;
}

.cst-list-border .item {
    border: 1px !important;
    padding: 6px !important;
}

.cst-divider-pull-right {
    position: absolute;
    top: 10px;
    right: 20px;
}

/* radio button form setting */

.form-radio {
    padding-right: 45px;
}

/*Color scheme code*/

.cst-tab-coolors {
    border-color: #828D9E;
    background-color: #2B2D42;
    background-image: linear-gradient(0deg, #6E788A, #737D8E 50%, transparent 50%);
    color: #fff;
}

.cst-tab-coolors a:hover {
    background-color: #414463;
}

.bar.cst-bar-assertive-coolors {
    border-color: #08747c;
    background-color: #08747c;
    background-image: linear-gradient(0deg, #08747c, #08747c 50%, transparent 50%);
    color: #fff;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.bar.cst-bar-assertive-coolors .title {
    color: #fff;
    /*text-align: center;*/
}

.bar.cst-bar-assertive-coolors .ion-android-search:before {
    font-size: 28px;
}

.bar.cst-bar-assertive-coolors.bar-footer {
    background-image: linear-gradient(180deg, #08747c, #08747c 50%, transparent 50%);
}

.button.cst-button-positive {
    border-color: transparent;
    background-color: #2B2D42;
    color: #fff;
}

.button.cst-button-positive:hover {
    color: #fff;
    text-decoration: none;
}

.button.cst-button-positive.active,
.button.cst-button-positive.activated {
    background-color: #8D99AE;
}

.button.cst-button-positive.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #2B2D42;
}

.button.cst-button-positive.button-icon {
    border-color: transparent;
    background: none;
}

.button.cst-button-positive.button-outline {
    border-color: #2B2D42;
    background: transparent;
    color: #2B2D42;
}

.button.cst-button-positive.button-outline.active,
.button.cst-button-positive.button-outline.activated {
    background-color: #2B2D42;
    box-shadow: none;
    color: #fff;
}

.cst-bookinglist {
    padding-left: 15px;
}

.cst-white-space {
    white-space: nowrap;
}

/* Color scheme code end */

.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.item-divider {
    line-height: 31px;
}

.header.m {
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    margin-top: 37px;
}

.header.m span {
    font-size: 1.2em;
}

.sub-header.m {
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.search-bar-home {
    font-size: 18px !important;
    padding-top: 0 !important;
    text-align: center;
    line-height: 25.7143px !important;
}

.w {
    color: white;
}

div[class*="operator-"] {
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.operator-airtel {
    background-image: url('../img/operators/airtel.png');
}

.operator-vodafone {
    background-image: url('../img/operators/vodafone.png');
}

.operator-aircel {
    background-image: url('../img/operators/aircel.png');
}

.operator-tata-docomo-cdma {
    background-image: url('../img/operators/docomocdma.png');
}

.operator-tata-docomo-gsm {
    background-image: url('../img/operators/docomogsm.png');
}

.operator-idea {
    background-image: url('../img/operators/idea.png');
}

.operator-bsnl-gsm {
    background-image: url('../img/operators/bsnl.png');
}

.operator-bsnl-cdma {
    background-image: url('../img/operators/bsnl.png');
}

.operator-mtnl {
    background-image: url('../img/operators/mtnl.png');
}

.operator-mts {
    background-image: url('../img/operators/mts.png');
}

.operator-reliance-cdma {
    background-image: url('../img/operators/reliancecdma.png');
}

.operator-reliance-gsm {
    background-image: url('../img/operators/reliancegsm.png');
}

.operator-telenor {
    background-image: url('../img/operators/telenor.png');
}

.operator-videocon {
    background-image: url('../img/operators/videocon.png');
}

.title + .popup-button {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

.popup-button button.button {
    background: transparent;
    height: 46px;
    top: 0;
    padding: 0 0px;
    margin: 0 5px;
}

.bg {
    background: #eee
}

.popup-head {
    padding: 13px 10px;
}

.popup-container .popup {
    border-radius: 6px;
}

.input-custom {
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-align: center !important;
    border: solid 2px #387ef5 !important;
    height: 42px !important;
}

.slider-pager {
    display: none !important;
}

.filter-button {
    border: none !important;
    padding: 0px !important;
    line-height: 28px !important;
    min-height: initial !important;
    height: 28px !important;
    background: none !important;
}

.list .item.item-select select {
    top: 1px;
}

.list .item.item-select {
    border-bottom: solid 1px #ccc;
}

.item-number {
    letter-spacing: 2px;
}

.item-number span {
    border-bottom: solid 2px transparent;
}

.item-number .y {
    border-bottom-color: red;
}

/*Home*/

.cst-service {
    text-align: center;
}

.cst-service .icon {
    font-size: large;
}

.cst-service .col {
    padding: 5px;
}

.cst-home-header {
    /*border-bottom: #08747c solid 0.5px;*/
}

.cst-col-border {
    border-right: #eee solid 0.5px;
}

.cst-home-card {
    border-top: red solid 0.5px;
}

/*Recharge page */

.cst-plan-subheader {
    font-size: smaller;
    color: gray;
}

.cst-recharge-plan-list .icon {
    font-size: x-small !important;
}

.cst-badge {
    background-color: #eeeeee;
    border-radius: 1px;
    display: flex;
    /* border-top: red solid 0.1px; */
    /* border-bottom: red solid 0.1px; */
    font-style: initial;
    color: #0c0c0c;
    padding-left: 13px;
    font-weight: 500;
    font-size: small;
}

.cst-plan-amount {
    position: absolute;
    right: 27px;
    top: 17px;
}

.cst-plan-sub-details {
    padding-top: 5px;
}

.cst-recharge-plan-list {
    font-size: 12px !important;
    margin-bottom: 0px !important;
    padding: 0px 0 0 0px !important;
    min-height: 50px !important;
}

.cst-recharge-plan-list .col {
    padding: 0px !important;
    line-height: 140% !important;
    /*border-bottom: 0.5px solid #d6d4d4;*/
    min-height: 45px !important;
}

.cst-recharge-plan-list .row {
    padding: 3px !important;
}

.cst-recharge-plan-list .backchange {
    background-color: rgba(169, 169, 169, 0.3);
}

.cst-recharge-plan-list span {
    color: grey;
}

.cst-recharge-plan-list .plan-details {
    padding: 4px 0 23px 0;
}

.cst-tariff-plan-selected {
    background-color: #b7ffb7;
}

.cst-date-right-align {
    color: #b4b3b3;
    font-size: 12px;
    position: absolute;
    right: 5%;
    top: 45%;
}

.cst-plan-tariff-tabs-active {
    color: red;
    background-color: cornsilk
}

/*Utiled*/

.cst-fail {
    color: #ef473a;
}

.cst-success {
    color: #33cd5f;
}

.cst-pending {
    color: #ffc900;
}

.cst-tab {
    font-size: 10px;
}

.cst-tab .select {
    border-top: red solid 0.2px;
}

.cst-samll-font {
    font-size: 10px;
}

.cst-pull-center {
    text-align: center !important;
    padding: 10px 0 9px 0;
}

.cst-bottom {
    position: absolute;
    width: 75%;
    bottom: 6px;
}

/*input[type=tel]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}*/

label.regular-input {
    padding-right: 15px;
}

label.regular-input input,
label.regular-input select {
    /*border: solid 1px #aaa;*/
    /*padding-left: 10px;*/
    /*margin-top: 7px;*/
    /*display: block;*/
    /*border-radius: 2px;*/
    /*width: 100%;*/
    border: none;
    padding-left: 0px;
    margin-top: 7px;
    display: block;
    border-radius: 0px;
    width: 100%;
    border-bottom: solid 1px #ddd;
}

label.regular-input.regular-input-x2 input,
label.regular-input.regular-input-x2 select {
    height: 40px;
    font-size: 16px;
}

label.regular-input .input-label {
    width: 100%;
}

.label {
    background: #aaa;
    color: white;
    border-radius: 2px;
    padding: 2px 5px;
    font-size: 11px;
    text-transform: uppercase;
}

.label-success {
    background: #4CAF50;
    color: white;
}

.label-warning {
    background: #FF9800;
    color: white;
}

.label-danger {
    background: #FF5252;
    color: white;
}

strong {
    font-family: "RobotoDraft", "Roboto", "Helvetica Neue", "Segoe UI", sans-serif;
}

.fl {
    margin-left: -16px !important;
    margin-right: -16px !important;
    margin-bottom: 16px;
}

p.line {
    position: relative;
}

p.line:after {
    position: absolute;
    content: '';
    left: 35px;
    right: 35px;
    height: 1px;
    background: #ddd;
    top: 47%;
    z-index: -1;
}

p.line span {
    background: white;
    display: inline-block;
    width: 40px;
    z-index: 1;
}

.popup-v-buttons .popup-buttons {
    display: block;
    padding-top: 0;
    padding-bottom: 10px;
}

.popup-v-buttons .popup-buttons .button {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.no-scroll-bar::-webkit-scrollbar {
    display: none;
}

ion-content::-webkit-scrollbar {
    display: none;
}

/*ITS changes*/

/*home page*/

.ct-center-tab-box {
    text-align: center;
    font-size: 20px;
    padding-top: 17px;
    padding-bottom: 11px;
}