<ion-view title="S&C Assessment" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">

        <div class="list">
            <div class="list" style="margin-bottom: 0px">
                <!--form 1 start -->
                <form name="fieldsForm" ng-if="display.currentForm == 1">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Patient Name</span>
                        <input type="text"
                               placeholder="e.g Johon"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.first_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Mobile Number</span>
                        <input type="number"
                               placeholder="+91"
                               ng-pattern="/^[789]\d{9}$/"
                               ng-model="fields.mobile_no"
                               required="">
                    </label>

                    <div class="item item-divider">
                        Fitness Test
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Height (cm)</span>
                        <input type="number"
                               placeholder="-"
                               ng-model="fields.fit_height"
                               ng-change="calculateBMI()"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Weight (kg)</span>
                        <input type="number"
                               placeholder="-"
                               ng-model="fields.fit_weight"
                               ng-change="calculateBMI()"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">BMI </span>
                        <input type="number"
                               placeholder="-"
                               ng-model="fields.fit_bmi">
                    </label>
                </form>
                <!--form 1 end -->

                <!--form 2 start -->
                <form name="fieldsForm" ng-if="display.currentForm == 2">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        <br> Body Fat Measurement<br> (Using Skin Folds Measurements)
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Triceps (mm)</span>
                        <input type="number"
                               placeholder="-"
                               ng-model="fields.body_triceps"
                               ng-change="calculateBodyFat()"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Subscapula (mm)</span>
                        <input type="number"
                               placeholder="-"
                               ng-model="fields.body_subscapula"
                               ng-change="calculateBodyFat()"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Suprailiac (mm)</span>
                        <input type="number"
                               placeholder="-"
                               ng-model="fields.body_suprailiac"
                               ng-change="calculateBodyFat()"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Abdomen (mm)</span>
                        <input type="number"
                               placeholder="-"
                               ng-model="fields.body_Abdomen"
                               ng-change="calculateBodyFat()"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Chest (mm)</span>
                        <input type="number"
                               placeholder="-"
                               ng-model="fields.body_chest"
                               ng-change="calculateBodyFat()"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Front Thigh (mm)</span>
                        <input type="number"
                               placeholder="-"
                               ng-model="fields.body_front_thigh"
                               ng-change="calculateBodyFat()"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Total</span>
                        <input type="number"
                               placeholder="-"
                               ng-model="fields.body_total"
                               required="">
                    </label>
                    <label class="item">
                        <strong>Estimated Body Fat % =
                            {{(fields.estimate_body_fat_per)?fields.estimate_body_fat_per:'N/A'}}</strong><br>
                    </label>
                    <label class="item">
                        <strong>Body Fat Weight = {{(fields.body_fat_weight)?fields.body_fat_weight:'N/A'}}</strong><br>
                    </label>
                    <label class="item">
                        <strong>Lean Body Mass = {{(fields.lean_body_mass)?fields.lean_body_mass :'N/A'}}</strong><br>
                    </label>
                </form>
                <!--form 2 end -->

                <!--form 3 start -->
                <form name="fieldsForm" ng-if="display.currentForm == 3">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        <br>Girth Measurement
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Abdomen</span>
                        <input type="number"
                               placeholder="-"
                               ng-model="fields.girth_abdomen"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Waist</span>
                        <input type="number"
                               placeholder="-"
                               ng-model="fields.girth_waist"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Hip</span>
                        <input type="number"
                               placeholder="-"
                               ng-model="fields.girth_hip"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Thigh</span>

                        <div class="row">
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Right"
                                       ng-model="fields.girth_thigh[right]"
                                       required="">
                            </div>
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Left"
                                       ng-model="fields.girth_thigh[left]"
                                       required="">
                            </div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Calf</span>

                        <div class="row">
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Right"
                                       ng-model="fields.girth_calf[right]"
                                       required="">
                            </div>
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Left"
                                       ng-model="fields.girth_calf[left]"
                                       required="">
                            </div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Arm</span>

                        <div class="row">
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Right"
                                       ng-model="fields.girth_arm[right]"
                                       required="">
                            </div>
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Left"
                                       ng-model="fields.girth_arm[left]"
                                       required="">
                            </div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Forearm</span>

                        <div class="row">
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Right"
                                       ng-model="fields.girth_forearm[right]"
                                       required="">
                            </div>
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Left"
                                       ng-model="fields.girth_forearm[left]"
                                       required="">
                            </div>
                        </div>
                    </label>
                </form>
                <!--form 3 start -->

                <!--form 4 start -->
                <form name="fieldsForm" ng-if="display.currentForm == 4">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        <br>Flexibility Test:
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Sit & Reach Test</span>
                        <textarea placeholder="Test Report" ng-model="fields.flexibility_sit"></textarea>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Score</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.flexibility_score"
                               required="">
                    </label>
                </form>
                <!--form 4 start -->

                <!--form 5 start -->
                <form name="fieldsForm" ng-if="display.currentForm == 5">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        <br>Basic Cardiovascular Test
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Resting HR</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.cardiovascular_resting_hr"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Step Test</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.cardiovascular_step"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Immendiate</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.cardiovascular_immendiate"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">1 min</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.cardiovascular_test1min"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">2 min</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.body_total2"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">3 min</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.body_total2"
                               required="">
                    </label>
                </form>
                <!--form 5 start -->

                <!--form 6 start -->
                <form name="fieldsForm" ng-if="display.currentForm == 6">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        Reaction Time Test
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Ruler Drop</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.body_total2"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Score</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.body_total2"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label m">
                        Balance Test
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Stork Standing Test</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.body_total2"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Score</span>

                        <div class="row">
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Right"
                                       ng-model="fields.body_total1"
                                       required="">
                            </div>
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Left"
                                       ng-model="fields.body_total2"
                                       required="">
                            </div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label m">
                        VO2 Max Testing
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Astrand tread mail test</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.body_total2"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Score</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.body_total2"
                               required="">
                    </label>
                </form>
                <!--form 6 start -->

                <!--form 7 start -->
                <form name="fieldsForm" ng-if="display.currentForm == 7">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        Strength Test
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">1 min push up</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.body_total2"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">1 min chin up</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.body_total2"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">1 min sit up</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.body_total2"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Arm hang test</span>

                        <div class="row">
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Extended"
                                       ng-model="fields.body_total1"
                                       required="">
                            </div>
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Flex"
                                       ng-model="fields.body_total2"
                                       required="">
                            </div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Plank test</span>
                        <textarea placeholder="Score"></textarea>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Squat test</span>
                        <textarea placeholder="Score"></textarea>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Vertical jump</span>
                        <textarea placeholder="Score"></textarea>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Wall sit</span>

                        <div class="row">
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Right"
                                       ng-model="fields.body_total1"
                                       required="">
                            </div>
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Left"
                                       ng-model="fields.body_total2"
                                       required="">
                            </div>
                        </div>
                    </label>
                </form>
                <!--form 7 start -->

                <!--form 8 start -->
                <form name="fieldsForm" ng-if="display.currentForm == 8">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        Agility Test
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Hexagon test</span>
                        <textarea placeholder="Score"></textarea>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Score</span>
                        <textarea placeholder="Score"></textarea>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">reference</span>
                        <input type="text" placeholder="Score"
                               ng-model="fields.body_total2"
                               required="">
                    </label>
                </form>
                <!--form 8 start -->

                <!--form 9 start -->
                <form name="fieldsForm" ng-if="display.currentForm == 9">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        FMS Testing
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Overhead squat</span>

                        <div class="row">
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Raw score"
                                       ng-model="fields.body_total1"
                                       required="">
                            </div>
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Final score"
                                       ng-model="fields.body_total2"
                                       required="">
                            </div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Hurdle step</span>

                        <div class="row">
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Raw score"
                                       ng-model="fields.body_total1"
                                       required="">
                            </div>
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Final score"
                                       ng-model="fields.body_total2"
                                       required="">
                            </div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Inline lunge</span>

                        <div class="row">
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Raw score"
                                       ng-model="fields.body_total1"
                                       required="">
                            </div>
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Final score"
                                       ng-model="fields.body_total2"
                                       required="">
                            </div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Shoulder mobility</span>

                        <div class="row">
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Raw score"
                                       ng-model="fields.body_total1"
                                       required="">
                            </div>
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Final score"
                                       ng-model="fields.body_total2"
                                       required="">
                            </div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Active straight leg raise</span>

                        <div class="row">
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Raw score"
                                       ng-model="fields.body_total1"
                                       required="">
                            </div>
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Final score"
                                       ng-model="fields.body_total2"
                                       required="">
                            </div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Trunk stability push up</span>

                        <div class="row">
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Raw score"
                                       ng-model="fields.body_total1"
                                       required="">
                            </div>
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Final score"
                                       ng-model="fields.body_total2"
                                       required="">
                            </div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Rotary stability</span>

                        <div class="row">
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Raw score"
                                       ng-model="fields.body_total1"
                                       required="">
                            </div>
                            <div class="col col-50">
                                <input type="number"
                                       placeholder="Final score"
                                       ng-model="fields.body_total2"
                                       required="">
                            </div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Recommendation</span>
                        <textarea placeholder="Some recommendation"></textarea>
                    </label>
                </form>
                <!--form 9 start -->
            </div>
        </div>
        <div style="height: 60px;"></div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="cst-icon-div-footer-left" on-tap="previousForm()" ng-hide="display.currentForm == 1">
            <i class="ion ion-chevron-left"></i>
        </div>
        <div class="cst-icon-div-footer-center">
            {{display.currentForm}}/{{display.totalForm}}
        </div>
        <div class="cst-icon-div-footer-right" on-tap="nextForm()" ng-hide="display.totalForm == display.currentForm">
            <i class="ion ion-chevron-right"></i>
        </div>
        <div class="cst-icon-div-footer-right" ng-show="display.totalForm == display.currentForm">
            Save
        </div>
    </div>
</ion-view>