<ion-view title="S&C Consulatation" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">

        <div class="list">
            <div class="list" style="margin-bottom: 0px">
                <!--form 1 start -->
                <form name="fieldsForm" ng-if="display.currentform == 1">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Fitness Goal</span>
                        <ion-list>
                            <ion-checkbox ng-repeat="(key,value) in option.fitness_goal"
                                          ng-model="fields.fitness_goal[value]" ng-value="value">{{value}}
                            </ion-checkbox>
                        </ion-list>
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Motivation Towards Fitness</span>
                        <ion-list>
                            <ion-radio ng-repeat="(key,value) in option.motivate_fitness"
                                       ng-model="fields.motivate_fitness" ng-value="value" name="towards_fitness">
                                {{value}}
                            </ion-radio>
                        </ion-list>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">How often do you exerise</span>
                        <ion-list>
                            <ion-radio ng-repeat="(key,value) in option.often_exerise" ng-model="fields.often_exerise"
                                       ng-value="value" name="often_do_exerise">{{value}}
                            </ion-radio>
                        </ion-list>
                    </label>
                </form>
                <!--form 2 end -->

                <!--form 2 start -->
                <form name="fieldsForm" ng-if="display.currentform == 2">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item">
                        <strong>Rate yourself</strong>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Cardio Vascular Endurance
                        </div>
                        <select required="" ng-model="fields.rate_cardio">
                            <option value="poor">Poor</option>
                            <option value="fair">Fair</option>
                            <option value="satisfactory">Satisfactory</option>
                            <option value="good">Good</option>
                            <option value="excellent">Excellent</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Muscular Strength
                        </div>
                        <select required="" ng-model="fields.rate_muscular">
                            <option value="poor">Poor</option>
                            <option value="fair">Fair</option>
                            <option value="satisfactory">Satisfactory</option>
                            <option value="good">Good</option>
                            <option value="excellent">Excellent</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Agility
                        </div>
                        <select required="" ng-model="fields.rate_agility">
                            <option value="poor">Poor</option>
                            <option value="fair">Fair</option>
                            <option value="satisfactory">Satisfactory</option>
                            <option value="good">Good</option>
                            <option value="excellent">Excellent</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Flexibility
                        </div>
                        <select required="" ng-model="fields.rate_flexibilty">
                            <option value="poor">Poor</option>
                            <option value="fair">Fair</option>
                            <option value="satisfactory">Satisfactory</option>
                            <option value="good">Good</option>
                            <option value="excellent">Excellent</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Speed
                        </div>
                        <select required="" ng-model="fields.rate_speed">
                            <option value="poor">Poor</option>
                            <option value="fair">Fair</option>
                            <option value="satisfactory">Satisfactory</option>
                            <option value="good">Good</option>
                            <option value="excellent">Excellent</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Core Strength
                        </div>
                        <select required="" ng-model="fields.rate_core">
                            <option value="poor">Poor</option>
                            <option value="fair">Fair</option>
                            <option value="satisfactory">Satisfactory</option>
                            <option value="good">Good</option>
                            <option value="excellent">Excellent</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            My overall fitness
                        </div>
                        <select required="" ng-model="fields.rate_overall">
                            <option value="poor">Poor</option>
                            <option value="fair">Fair</option>
                            <option value="satisfactory">Satisfactory</option>
                            <option value="good">Good</option>
                            <option value="excellent">Excellent</option>
                        </select>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Activities I would prefer</span>
                        <ion-list>
                            <ion-checkbox ng-repeat="(key,value) in option.activities_prefer"
                                          ng-model="fields.activites[value]" ng-value="value">{{value}}
                            </ion-checkbox>
                        </ion-list>
                    </label>
                </form>
                <!--form 2 start -->

                <!--form 3 start -->
                <form name="fieldsForm" ng-if="display.currentform == 3">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Do you take nutritional supplements</span>
                        <ion-list>
                            <ion-radio ng-model="fields.nutritional_supplement" ng-value="'Yes'" name="nut_supple">Yes
                            </ion-radio>
                            <ion-radio ng-model="fields.nutritional_supplement" ng-value="'No'" name="nut_supple">No
                            </ion-radio>
                        </ion-list>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Are you currently on any medication</span>
                        <ion-list>
                            <ion-radio ng-model="fields.any_medication" ng-value="'Yes'" name="currently_medication">
                                Yes
                            </ion-radio>
                            <ion-radio ng-model="fields.any_medication" ng-value="'No'" name="currently_medication">No
                            </ion-radio>
                        </ion-list>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">How many hours so you sleep daily</span>
                        <ion-list>
                            <ion-radio ng-repeat="(key,value) in option.sleep_daily" ng-model="fields.sleep_daily"
                                       ng-value="value" name="sleep_daily">{{value}}
                            </ion-radio>
                        </ion-list>
                    </label>
                </form>
                <!--form 3 start -->

                <!--form 4 start -->
                <form name="fieldsForm" ng-if="display.currentform == 4">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Have you had any musculo-skeletal injuries in last 12 months</span>
                        <ion-list>
                            <ion-radio ng-model="fields.musculo_skeletal" ng-value="Yes" name="musculo-skeletal">Yes
                            </ion-radio>
                            <ion-radio ng-model="fields.musculo_skeletal" ng-value="No" name="musculo-skeletal">No
                            </ion-radio>
                        </ion-list>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Have you ever been diagnosed with any of the following chronic diseases</span>
                        <ion-list>
                            <ion-checkbox ng-repeat="(key,value) in option.chronic_diseases"
                                          ng-model="fields.diagnosied_diseases[value]" ng-value="value">{{value}}
                            </ion-checkbox>
                        </ion-list>
                    </label>
                </form>
                <!--form 4 start -->

                <!--form 5 start -->
                <form name="fieldsForm" ng-if="display.currentform == 5">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Comments</span>

                        <p>It was great and Satisfactory session! <br>Thanks you Heal Institute for it</p>
                    </label>
                    <label class="item">
                        <div class="input-label">
                            Terms & Conditions:
                        </div>
                        <p>Some orivate </p>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Sign</span>
                        <input type="text"
                               placeholder="Sign"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.sign">
                    </label>
                </form>
                <!--form 5 start -->

            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="cst-icon-div-footer-left" on-tap="previousform()" ng-hide="display.currentform == 1">
            <i class="ion ion-chevron-left"></i>
        </div>
        <div class="cst-icon-div-footer-center">
            {{display.currentform}}/{{display.totalform}}
        </div>
        <div class="cst-icon-div-footer-right" on-tap="nextform()" ng-hide="display.totalform == display.currentform">
            <i class="ion ion-chevron-right"></i>
        </div>
        <div class="cst-icon-div-footer-right" ng-show="display.totalform == display.currentform"
             ng-click="submitConsultation()">
            Save
        </div>
    </div>
</ion-view>