<ion-view title="S&C Feedback" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">

        <div class="list">
            <div class="list" style="margin-bottom: 0px">
                <!--form 1 start -->
                <form name="data.shipping" ng-if="display.currentform == 1">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">First Name</span>
                        <input type="text"
                               placeholder="e.g Johon"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.first_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Last Name</span>
                        <input type="text"
                               placeholder="e.g Johon"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.last_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Mobile Number</span>
                        <input type="number"
                               placeholder="+91"
                               ng-pattern="/^[789]\d{9}$/"
                               ng-model="fields.mobile"
                               required="">
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Trainer
                        </div>
                        <select required="" ng-model="fields.trainer_id">
                            <option value=""> Ankita</option>
                            <option value=""> Natin</option>
                            <option value=""> Bapa</option>
                        </select>
                    </label>
                    <!--<label class="item item-input item-select">-->
                    <!--<div class="input-label">-->
                    <!--Location-->
                    <!--</div>-->
                    <!--<select ng-model="fields.branch_id" ng-change="showDate()">-->
                    <!--<option value="s"> Khar</option>-->
                    <!--<option value="c"> Colaba</option>-->
                    <!--<option value="p"> Parel</option>-->
                    <!--</select>-->
                    <!--</label>-->
                </form>
                <!--form 1 end -->

                <!--form 2 start -->
                <form name="data.shipping" ng-if="display.currentform == 2">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <div class="list">
                        <span class="item">Demonstrated knowledge (Rate: {{(fields.demonstrated_knowledge)?fields.demonstrated_knowledge:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.demonstrated_knowledge" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">Concern for safety (Rate: {{(fields.concern_safety)?fields.concern_safety:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.concern_safety" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">Approach-ability and responsiveness to questions (Rate: {{(fields.approach_motivate)?fields.approach_motivate:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.approach_motivate" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">Abilitu to motivate you (Rate: {{(fields.abilitu_motivate)?fields.abilitu_motivate:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.abilitu_motivate" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">Exercise intensity and progression (Rate: {{(fields.exercise_intensity_progression)?fields.exercise_intensity_progression:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.exercise_intensity_progression" name="volume" min="1"
                                   max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                </form>
                <!--form 2 end -->

                <!--form 3 start -->
                <form name="data.shipping" ng-if="display.currentform == 3">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item">
                        <strong>Rate yourself</strong>
                    </label>

                    <div class="list">
                        <span class="item">Ability to help you accomplish your fitness/wellness goal<br> (Rate: {{(fields.ability_help_accomplish)?fields.ability_help_accomplish:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.ability_help_accomplish" name="volume" min="1"
                                   max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item"> Energy and enthusiasm (Rate: {{(fields.energy_enthusiasm)?fields.energy_enthusiasm:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.energy_enthusiasm" name="volume" min="1"
                                   max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">  Professionalism (Rate: {{(fields.professionalism)?fields.professionalism:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.professionalism" name="volume" min="1"
                                   max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">  Overall trainer rating (Rate: {{(fields.overall_trainer_rating)?fields.overall_trainer_rating:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.overall_trainer_rating" name="volume" min="1"
                                   max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">  Ambience (Rate: {{(fields.ambience)?fields.ambience:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.ambience" name="volume" min="1"
                                   max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                </form>
                <!--form 3 start -->

                <!--form 4 start -->
                <form name="data.shipping" ng-if="display.currentform == 4">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <div class="list">
                        <span class="item">  Cleanliness (Rate: {{(fields.cleanliness)?fields.cleanliness:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.cleanliness" name="volume" min="1"
                                   max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">  How would you rate the overall service provided by HEAL<br> (Rate: {{(fields.overall_service_provided)?fields.overall_service_provided:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.overall_service_provided" name="volume" min="1"
                                   max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>


                    <label class="item item-select">
                        <div class="input-label">
                            Would you like to refer/recommend our service to your Family Friends and Colleagues ?
                        </div>
                        <select ng-model="fields.would_you_like_to_refer">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email ID</span>
                        <input type="text"
                               placeholder="e.g xyz@abc.com"
                               required=""
                               name="email_id_name"
                               ng-model="fields.email">
                    </label>
                </form>
                <!--form 4 start -->
            </div>
        </div>
        <div style="height: 50px;"></div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="cst-icon-div-footer-left" on-tap="previousform()" ng-hide="display.currentform == 1">
            <i class="ion ion-chevron-left"></i>
        </div>
        <div class="cst-icon-div-footer-center">
            {{display.currentform}}/{{display.totalform}}
        </div>
        <div class="cst-icon-div-footer-right" on-tap="nextform()" ng-hide="display.totalform == display.currentform">
            <i class="ion ion-chevron-right"></i>
        </div>
        <div class="cst-icon-div-footer-right" ng-show="display.totalform == display.currentform"
             ng-click="submitFeedback()">
            Save
        </div>
    </div>
</ion-view>