<ion-view title="Contact Us" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">
        <div class="card">
            <div class="list">
                <div class="item">
                    Get in Touch
                </div>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-location"></i> H.E.A.L khar<br>10-B, Vinky Villa, 20th Road, Khar (W)<br>Mumbai-400 052
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-telephone"></i> +(91)-22-26493282<br>+(91)-22-26493160
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-clock-outline"></i> Mon to Sat: 8am to 8pm<br>Sunday: 10am to 6pm
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>