<ion-view title="Home" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">

        <div class="card">
            <form name="loginForm" ng-submit="login()">
                <div style="height: 50px;"></div>
                <div class="text-center">
                    <img src="img/heal.png" style="display: initial;">
                </div>
                <div style="height: 10px;"></div>
                <div class="list">
                    <label class="item item-input item-stacked-label regular-input regular-input-x2">
                        <span class="input-label">E-mail</span>
                        <input type="text"
                            name="username"
                            placeholder=""
                            required
                            ng-model="loginData.username">
                    </label>
                    <label class="item item-input item-stacked-label regular-input regular-input-x2">
                        <span class="input-label">Password</span>
                        <input type="password"
                            name="password"
                            placeholder=""
                            required
                            ng-model="loginData.password">
                    </label>
                </div>
                <div class="padding-left padding-right">
                    <p ng-if="loginError" style="color: red;padding: 13px 0 0px 0px;text-align: center;">{{loginError}}</p>

                    <button class="button button-dark button-block ink button-raised">
                        Login
                    </button>
                    <br>
                    <button ng-click="goto('/registration')" class="button button-dark button-block ink button-raised">
                        Register
                    </button>
                </div>
            </form>
            <div class="row ct-center-tab-box">
                <div class="col col-50">
                    <a ng-click="goto('/location')"><i class="icon ion-ios-location"></i> <br>Location</a>
                </div>
                <div class="col col-50">
                    <a ng-click="goto('/contact')"><i class="icon ion-android-call"></i> <br>Contact</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>