<ion-view title="Location" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">
        <div class="card">
            <div class="item">
                Map
            </div>
            <a class="item item-icon-left" href="#">
                <img src="img/map.png">
            </a>
        </div>
    </ion-content>
</ion-view>