<ion-view title="Registration" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="list">
            <div class="list" style="margin-bottom: 0px">
                <!--form 1 start -->
                <form name="fields-forms" ng-if="display.currentform == 1">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">First Name</span>
                        <input type="text"
                               placeholder="e.g Johon"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.first_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Last Name</span>
                        <input type="text"
                               placeholder="e.g Smit"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.last_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Date of Birth</span>
                        <input type="text"
                               placeholder="e.g 12/9/1980"
                               required=""
                               name="ship_customer_name"
                               ng-click="trigger_datepicker()"
                               ng-model="fields.date_of_birth">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Address</span>
                            <textarea required=""
                                      placeholder="e.g g/7, new avni, Mumbai."
                                      style="height: 100px"
                                      ng-model="fields.address"></textarea>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Mobile Number</span>
                        <input type="number"
                               placeholder="+91"
                               ng-pattern="/^[789]\d{9}$/"
                               ng-model="fields.mobile_number"
                               required="">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Gender</span>
                        <ion-list>
                            <ion-radio ng-model="fields.gender" ng-value="'male'">Male</ion-radio>
                            <ion-radio ng-model="fields.gender" ng-value="'female'">Female</ion-radio>
                        </ion-list>
                    </label>
                    <!--
                    <label class="item item-input item-select">
                            <div class="input-label">
                                Circle
                            </div>
                            <select required="" disabled="" ng-model="fields.location" ng-options="c.id as c.name for c in storage.var.circles">
                                <option value=""> Select Circle </option>
                            </select>
                        </label>-->

                </form>
                <!--form 1 end -->

                <!--form 2 start -->
                <form name="data.shipping" ng-if="display.currentform == 2">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email id</span>
                        <input type="text"
                               placeholder="e.g some@xyz.com"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.email">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Alt. Mobile</span>
                        <input type="text"
                               placeholder="+91"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.alt_mobile">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Company</span>
                        <input type="text"
                               placeholder="e.g google"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.company">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Referred By</span>
                        <ion-list>
                            <ion-checkbox ng-repeat="(k,v) in formOptions.referred" ng-model="fields.referred_by[v]">
                                {{v}}
                            </ion-checkbox>
                        </ion-list>
                    </label>
                </form>
                <!--form 2 end -->

                <!--form 3 start -->
                <form name="data.shipping" ng-if="display.currentform == 3">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Where did you hear about us?</span>
                        <ion-list>
                            <ion-checkbox ng-repeat="(k,v) in formOptions.hear_about_us"
                                          ng-model="fields.hear_about[v]">{{v}}
                            </ion-checkbox>
                        </ion-list>
                    </label>
                </form>
                <!--form 3 start -->
            </div>
        </div>
        <div style="height: 60px;"></div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="cst-icon-div-footer-left" on-tap="previousform()" ng-hide="display.currentform == 1">
            <i class="ion ion-chevron-left"></i>
        </div>
        <div class="cst-icon-div-footer-center">
            {{display.currentform}}/{{display.totalform}}
        </div>
        <div class="cst-icon-div-footer-right" on-tap="nextform()" ng-hide="display.totalform == display.currentform">
            <i class="ion ion-chevron-right"></i>
        </div>
        <div class="cst-icon-div-footer-right" on-tap="submitRegister()"
             ng-show="display.totalform == display.currentform">
            Save
        </div>
    </div>
</ion-view>