<div>
    <form name="loginForm"
          ng-submit="login()">
        <div style="height: 50px;"></div>
        <div class="text-center">
            <h3 class="m">Login to get started</h3>
        </div>
        <div style="height: 10px;"></div>
        <div class="padding-left padding-right">
            <button type="button"
                    class="button button-assertive button-outline button-block"
                    ng-click="googleSignup()">
                Google+
            </button>
        </div>
        <p class="text-center padding-left padding-right line">
            <span>OR</span>
        </p>
        <div class="list">
            <label class="item item-input item-stacked-label regular-input regular-input-x2">
                <span class="input-label">Mobile or E-mail</span>
                <input type="text"
                       name="username"
                       placeholder="Mobile or E-mail"
                       required
                       ng-model="loginData.username">
            </label>
            <label class="item item-input item-stacked-label regular-input regular-input-x2">
                <span class="input-label">Password</span>
                <input type="password"
                       name="password"
                       placeholder="Password"
                       required
                       ng-model="loginData.password">
            </label>
        </div>
        <div class="padding-left padding-right">
            <p ng-if="loginError"
               style="color: red;padding: 13px 0 0px 0px;text-align: center;">{{loginError}}</p>

            <button class="button button-assertive button-block ink button-raised"
                    ng-disabled="!loginForm.$valid">
                Login
            </button>
        </div>
    </form>
</div>