<ion-modal-view>
    <ion-header-bar>
        <div class="h1 title"></div>
        <div class="buttons-right header-item buttons">
            <span class="right-buttons">
                <button class="button button-icon ion-android-close"
                        ng-click="closeLoginModal()">
                </button>
            </span>
        </div>
    </ion-header-bar>
    <ion-content>
        <div login-page></div>
        <p class="text-center padding-left padding-right line">
            <span>OR</span>
        </p>
        <div class="padding-left padding-right">
            <signup-dtr ng-click="closeLoginModal()">Signup with e-mail</signup-dtr>
        </div>
    </ion-content>
</ion-modal-view>