<ion-modal-view>
    <ion-header-bar>
        <div class="h1 title">Register</div>
        <div class="buttons-right header-item buttons">
            <span class="right-buttons">
                <button class="button button-icon ion-android-close"
                        ng-click="closeSignupModal()">
                </button>
            </span>
        </div>
    </ion-header-bar>
    <ion-content>
        <div ng-if="data.signupFlag">
            <form name="signupForm" ng-submit="signup()">
                <div style="height: 50px;"></div>
                <div class="text-center">
                    <h3 class="m">Signup with e-mail</h3>
                </div>
                <div style="height: 10px;"></div>
                <div class="list">
                    <!--<label class="item item-input item-select item-stacked-label"-->
                    <label class="item item-input item-stacked-label regular-input regular-input-x2" style="border-bottom: none;">
                        <div class="input-label">
                            Circle
                        </div>
                        <select required=""
                                name="circle"
                                ng-options="c.id as c.name for c in storage.circle"
                                ng-model="signupData.circle">
                            <option value="">Tap to select your circle</option>
                        </select>
                    </label>
                    <label class="item item-input item-stacked-label regular-input regular-input-x2">
                        <span class="input-label">Mobile no.</span>
                        <input type="tel"
                               name="mobile_no"
                               placeholder="Mobile No"
                               required
                               ng-model="signupData.mobile"
                               ng-maxlength="10"
                               ng-minlength="10">
                    </label>
                    <label class="item item-input item-stacked-label regular-input regular-input-x2">
                        <span class="input-label">E-mail</span>
                        <input type="email"
                               name="email"
                               placeholder="Email"
                               required
                               ng-model="signupData.email">
                    </label>
                    <label class="item item-input item-stacked-label regular-input regular-input-x2">
                        <span class="input-label">Password</span>
                        <input type="password"
                               name="password"
                               placeholder="Password"
                               required
                               ng-model="signupData.password">
                    </label>
                    <label class="item item-input item-stacked-label regular-input regular-input-x2">
                        <span class="input-label">Confirm Password</span>
                        <input type="password"
                               name="confirm_password"
                               placeholder="Confirm Password"
                               required
                               ng-model="signupData.confirm_password">
                    </label>

                    <div class="padding-left padding-right">
                        <p ng-if="signupError" style="color: red;">Oops, {{signupError}}</p>

                        <button class="button button-assertive button-outline button-block" ng-disabled="!signupForm.$valid">
                            Continue
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div ng-if="!data.signupFlag">
            <div class="padding">
                <h3 style="margin-bottom: 5px;">
                    Step 2
                </h3>
                <span class="">Verifying your Mobile number</span>
                <div style="height: 20px;"></div>
                <span class="">Awesome!, we have sent you a OTP on </span>
                <div style="height: 5px;"></div>
                <span style="font-size: 18px;">+91 {{signupData.mobile}}</span>
                <div style="height: 10px;"></div>
            </div>
            <div class="list">
                <form name="otpForm" ng-submit="otpverify()">
                    <label class="item item-input item-stacked-label regular-input regular-input-x2">
                        <span class="input-label">Verification code (otp)</span>
                        <input type="text"
                               placeholder="Enter the 4-digit OTP"
                               required
                               ng-model="signupData.otp"
                               ng-maxlength="4"
                               ng-minlength="4">
                    </label>
                    <div class="padding-left padding-right">
                        <button class="button button-assertive button-block" ng-disabled="!otpForm.$valid">
                            Verify
                        </button>
                        <button type="button" class="button button-small button-outline button-balanced button-block" ng-disabled="!enableResend || resending_sent"
                            ng-click="resendotp()">
                            {{resending ? 'Please wait, sending...' : (resending_sent ? 'OTP sent!' : 'Re-send OTP' )}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-modal-view>