<ion-view title="Package Registration" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="list">
            <div class="list" style="margin-bottom: 0px">
                <!--form 1 start ***************************************************************************************** -->
                <form name="data.shipping" ng-if="display.currentform == 1">
                    <div class="m" style="font-size: 16px; text-align: center;"> &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Patient Name</span>
                        <input type="text"
                               placeholder="e.g Johon"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.first_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Mobile Number</span>
                        <input type="number"
                               placeholder="+91"
                               ng-pattern="/^[789]\d{9}$/"
                               ng-model="fields.mobile_no"
                               required="">
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Therapist
                        </div>
                        <select required="" ng-model="fields.therapist"
                                ng-options="c.user_id as c.username for c in option.theripistList">
                        </select>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Service</span>
                        <ion-list>
                            <ion-radio ng-repeat="(key,value) in option.serviceList" ng-model="fields.access_service_id"
                                       ng-value="value.access_service_id">{{value.name}}
                            </ion-radio>
                        </ion-list>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Start Date</span>
                        <input type="text"
                               placeholder="25/10/2017"
                               required=""
                               name="ship_customer_name"
                               ng-click="trigger_date('start')"
                               ng-model="fields.start_date">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Expiry Date</span>
                        <input type="text"
                               placeholder="25/10/2017"
                               required=""
                               name="ship_customer_name"
                               ng-click="trigger_date('end')"
                               ng-model="fields.expiry_date">
                    </label>
                </form>
                <!--form 1 end -->

                <!--form 2 start ***************************************************************************************** -->
                <form name="data.shipping" ng-if="display.currentform == 2">
                    <div class="m" style="font-size: 16px; text-align: center;"> &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Duration (if appicable)</span>
                        <input type="text"
                               placeholder="6 Month"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.duration">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Location</span>
                        <input type="text"
                               placeholder="Colaba"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.location">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Rate</span>
                        <input type="text"
                               placeholder="4 Star"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.rate">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Home Visit</span>
                        <ion-list>
                            <ion-radio ng-model="fields.home_visit" ng-value="1" name="home_visit">Yes</ion-radio>
                            <ion-radio ng-model="fields.home_visit" ng-value="0" name="home_visit">No</ion-radio>
                        </ion-list>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Collabarative Care</span>
                        <ion-list>
                            <ion-radio ng-model="fields.collabarative" ng-value="1" name="collabarative_care">Yes
                            </ion-radio>
                            <ion-radio ng-model="fields.collabarative" ng-value="0" name="collabarative_care">No
                            </ion-radio>
                        </ion-list>
                    </label>
                </form>
                <!--form 2 end -->

                <!--form 3 start -->
                <form name="data.shipping" ng-if="display.currentform == 3">
                    <div class="m" style="font-size: 16px; text-align: center;"> &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Terms & Conditions</span>

                        <p>This is package is:</p>

                        <p>a) Non-transferable across clients, locations & Services</p>

                        <p>a) Non refundable</p>

                        <p>a) Non extendable</p>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Date</span>
                        <input type="text"
                               placeholder="25/1/2017"
                               ng-click="trigger_date('created_date')"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.date">
                    </label>
                </form>
                <!--form 3 start -->
            </div>
        </div>
        <div style="height: 60px"></div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="cst-icon-div-footer-left" on-tap="previousform()" ng-hide="display.currentform == 1">
            <i class="ion ion-chevron-left"></i>
        </div>
        <div class="cst-icon-div-footer-center">
            {{display.currentform}}/{{display.totalform}}
        </div>
        <div class="cst-icon-div-footer-right" on-tap="nextform()" ng-hide="display.totalform == display.currentform">
            <i class="ion ion-chevron-right"></i>
        </div>
        <div class="cst-icon-div-footer-right" on-tap="submitPackage()"
             ng-show="display.totalform == display.currentform">
            Save
        </div>
    </div>

</ion-view>