<ion-view title="Physiotherpay Assessment" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">

        <div class="list">
            <div class="list" style="margin-bottom: 0px">
                <!--form 1 start -->
                <form name="data.shipping" ng-if="display.currentform == 1">
                    <div class="m" style="font-size: 16px; text-align: center;"> &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                            <span class="input-label">Patient Name</span>
                            <input type="text"
                                    placeholder="e.g Johon"
                                   required=""
                                   name="ship_customer_name"
                                   ng-model="data.news.first_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                            <span class="input-label">Age</span>
                            <input type="text"
                                    placeholder="e.g Smit"
                                   required=""
                                   name="ship_customer_name"
                                   ng-model="data.news.last_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                            <span class="input-label">Sex</span>
                            <input type="text"
                                    placeholder="e.g Smit"
                                   required=""
                                   name="ship_customer_name"
                                   ng-model="data.news.last_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                            <span class="input-label">Occupation</span>
                            <input type="text"
                                    placeholder="e.g Smit"
                                   required=""
                                   name="ship_customer_name"
                                   ng-model="data.news.last_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                            <span class="input-label">Sport</span>
                            <input type="text"
                                    placeholder="e.g Smit"
                                   required=""
                                   name="ship_customer_name"
                                   ng-model="data.news.last_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                            <span class="input-label">Present Complaint</span>
                            <input type="text"
                                    placeholder="e.g Smit"
                                   required=""
                                   name="ship_customer_name"
                                   ng-model="data.news.last_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                           <span class="input-label">History</span>
                             <ion-list>
                                <ion-checkbox ng-model="filter" ng-value="'sportclud'">Drugs</ion-checkbox>
                                <ion-checkbox ng-model="as" ng-value="'gorgaon sport'">Alcohol</ion-checkbox>
                                <ion-checkbox ng-model="assd" ng-value="'national sport'">Smoking</ion-checkbox>
                                <ion-checkbox ng-model="assd" ng-value="'national sport'">Other</ion-checkbox>
                            </ion-list>
                    </label>
                </form>
                <!--form 1 end -->

                <!--form 2 start -->
                <form name="data.shipping" ng-if="display.currentform == 2">
                    <div class="m" style="font-size: 16px; text-align: center;"> &nbsp;
                    </div>
                    <label class="item item-input item-select">
                            <div class="input-label">
                                Intensity
                            </div>
                            <select ng-model="data.news.designation" ng-options="c.id as c.name for c in storage.var.circles">
                                <option value=""> Select designation</option>
                            </select>
                    </label>
                    <label class="item item-input item-select">
                            <div class="input-label">
                                Nature
                            </div>
                            <select ng-model="data.news.designation" ng-options="c.id as c.name for c in storage.var.circles">
                                <option value=""> Select designation</option>
                            </select>
                    </label>
                    <label class="item item-input item-select">
                            <div class="input-label">
                                Duration
                            </div>
                            <select ng-model="data.news.designation" ng-options="c.id as c.name for c in storage.var.circles">
                                <option value=""> Select designation</option>
                            </select>
                    </label>
                    <label class="item item-input item-select">
                            <div class="input-label">
                                Frequency
                            </div>
                            <select ng-model="data.news.designation" ng-options="c.id as c.name for c in storage.var.circles">
                                <option value=""> Select designation</option>
                            </select>
                    </label>
                    <label class="item item-input item-select">
                            <div class="input-label">
                                Aggravating Factors
                            </div>
                            <select ng-model="data.news.designation" ng-options="c.id as c.name for c in storage.var.circles">
                                <option value=""> Select designation</option>
                            </select>
                    </label>
                    <label class="item item-input item-select">
                            <div class="input-label">
                                Relieving Factors
                            </div>
                            <select ng-model="data.news.designation" ng-options="c.id as c.name for c in storage.var.circles">
                                <option value=""> Select designation</option>
                            </select>
                    </label>
                </form>
                <!--form 2 end -->

                <!--form 3 start -->
                <form name="data.shipping" ng-if="display.currentform == 3">
                    <div class="m" style="font-size: 16px; text-align: center;"> &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                           <span class="input-label">Where did you hear about us?</span>
                             <ion-list>
                                <ion-checkbox ng-model="filter" ng-value="'sportclud'">Social Media</ion-checkbox>
                                <ion-checkbox ng-model="as" ng-value="'gorgaon sport'">Existing Client</ion-checkbox>
                                <ion-checkbox ng-model="assd" ng-value="'national sport'">Print Media</ion-checkbox>
                                <ion-checkbox ng-model="assdas" ng-value="'national sport'">Walk in</ion-checkbox>
                                <ion-checkbox ng-model="assd323" ng-value="'national sport'">other</ion-checkbox>
                            </ion-list>
                    </label>
                    <label class="item item-input item-stacked-label">
                           <span class="input-label">Center Location</span>
                             <ion-list>
                                <ion-checkbox ng-model="charsd" ng-value="'sportclud'">Khar</ion-checkbox>
                                <ion-checkbox ng-model="asdasd" ng-value="'gorgaon sport'">Colaba</ion-checkbox>
                                <ion-checkbox ng-model="asssadfasdfasd" ng-value="'national sport'">Parel</ion-checkbox>
                            </ion-list>
                    </label>
                </form>
                <!--form 3 start -->
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="cst-icon-div-footer-left" on-tap="previousform()" ng-hide="display.currentform == 1">
            <i class="ion ion-chevron-left"></i>
        </div>
        <div class="cst-icon-div-footer-center">
            {{display.currentform}}/{{display.totalform}}
        </div>
        <div class="cst-icon-div-footer-right" on-tap="nextform()" ng-hide="display.totalform == display.currentform">
            <i class="ion ion-chevron-right"></i>
        </div>
        <div class="cst-icon-div-footer-right" ng-show="display.totalform == display.currentform" ng-click="submitAssessment()">
            Save
        </div>
    </div>
</ion-view>