<ion-view title="Create comments" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="list">
            <div class="list" style="margin-bottom: 0px">
                <!--form 1 start -->
                <form name="fields-forms" ng-submit="submitComment()">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-select">
                        <span class="input-label">Therapist</span>
                        <select required="" ng-model="fields.physio_assessment_id">
                            <option ng-value="null">--select assessment card--</option>
                            <option ng-value="25">Assessment card 1</option>
                        </select>
                    </label>
                    <label class="item">
                        <span class="input-label">Comment</span>
                        <textarea placeholder="Comment" required="" ng-model="fields.comment_details"></textarea>
                    </label>
                    <label class="item">
                        <button type="submit" class="button button-stable">
                            create
                        </button>
                    </label>
                </form>
                <!--form 1 end -->
            </div>
        </div>
        <div style="height: 60px;"></div>
    </ion-content>
</ion-view>