<ion-view title="Physiotherapay Consulatation" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">

        <div class="list">
            <div class="list" style="margin-bottom: 0px">

                <!--form 1 start -->
                <form name="data.shipping" ng-if="display.currentform == 1">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-select">
                        <div class="input-label">
                            How often do <br>you do exercise
                        </div>
                        <select ng-model="fields.often_do_exercise"
                                ng-options="option for option in option.often_exerise">
                        </select>
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Types of activites I prefer</span>
                        <ion-list>
                            <ion-checkbox ng-model="fields.activities_prefer['Run/Walk']" ng-value="'true'">Run/Walk
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.activities_prefer['Swim']" ng-value="'true'">Swim
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.activities_prefer['Cycle']" ng-value="'true'">Cycle
                            </ion-checkbox>
                        </ion-list>
                    </label>

                    <label class="item item-select">
                        <div class="input-label">
                            Have you had any musculo-skeletal injuries in last 12 months ?
                        </div>
                        <select ng-model="fields.musculo_skeletal_injuries">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">In which area do you feel pain</span>
                        <ion-list>
                            <ion-checkbox ng-model="fields.area_feel_pain['Neck/Upper back']" ng-value="'true'">
                                Neck/Upper back
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.area_feel_pain['Lower Back & pelvis']" ng-value="'true'">
                                Lower Back & pelvis
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.area_feel_pain['Knee']" ng-value="'true'">Knee</ion-checkbox>
                        </ion-list>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Have you had any musculo-skeletal injuries in past 5 years</span>
                        <ion-list>
                            <ion-checkbox ng-model="fields.musculo_skeletal_surgeries['Diabetes']" ng-value="'true'">
                                Diabetes
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.musculo_skeletal_surgeries['Epilepsy']" ng-value="'true'">
                                Epilepsy
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.musculo_skeletal_surgeries['Asthma']" ng-value="'true'">
                                Asthma
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.musculo_skeletal_surgeries['Heart Problems']"
                                          ng-value="'true'">Heart
                                Problems
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.musculo_skeletal_surgeries['Others']" ng-value="'true'">
                                Others
                            </ion-checkbox>
                        </ion-list>
                    </label>
                </form>
                <!--form 1 end -->

                <!--form 2 start -->
                <form name="data.shipping" ng-if="display.currentform == 2">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>

                    <label class="item item-select">
                        <span class="input-label">Are you on  any prescribed medication</span>
                        <select ng-model="fields.percrided_medication">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label class="item item-select">
                        <span class="input-label">Do you suffer form any allergies</span>
                        <select ng-model="fields.suffer_from_allergies">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Comments</span>
                        <textarea class="form-input" ng-model="fields.comments"></textarea>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Terms & Conditions</span>

                        <p>Some terms and conditins</p>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Date</span>
                        <input type="text"
                               placeholder="e.g 9/10/17"
                               ng-click="triggerDate()"
                               ng-model="fields.custom_date">
                    </label>
                </form>
                <!--form 2 start -->
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="cst-icon-div-footer-left" on-tap="previousform()" ng-hide="display.currentform == 1">
            <i class="ion ion-chevron-left"></i>
        </div>
        <div class="cst-icon-div-footer-center">
            {{display.currentform}}/{{display.totalform}}
        </div>
        <div class="cst-icon-div-footer-right" on-tap="nextform()" ng-hide="display.totalform == display.currentform">
            <i class="ion ion-chevron-right"></i>
        </div>
        <div class="cst-icon-div-footer-right" ng-show="display.totalform == display.currentform"
             ng-click="submitConsulatation()">
            Save
        </div>
    </div>
</ion-view>