<ion-view title="Physiotherpay Feedback" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">

        <div class="list">
            <div class="list" style="margin-bottom: 0px">
                <!--form 1 start -->
                <form name="data.shipping" ng-if="display.currentform == 1">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">First Name</span>
                        <input type="text"
                               placeholder="e.g Johon"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.first_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Last Name</span>
                        <input type="text"
                               placeholder="e.g Johon"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.last_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Mobile Number</span>
                        <input type="number"
                               placeholder="+91"
                               ng-model="fields.mobile"
                               required="">
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Trainer
                        </div>
                        <select required="" ng-model="fields.therapist_id">
                            <option value=""> Vivek</option>
                            <option value=""> rajesh</option>
                            <option value=""> umar</option>
                            <option value=""> alex</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Location
                        </div>
                        <select ng-model="fields.location">
                            <option value="Thane"> Thane</option>
                            <option value="Khar"> Khar</option>
                            <option value="Colaba"> Colaba</option>
                            <option value="Parel"> Parel</option>
                        </select>
                    </label>
                </form>
                <!--form 1 end -->

                <!--form 2 start -->
                <form name="data.shipping" ng-if="display.currentform == 2">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item">
                        Do you think you were provided with adequate information wiht regard to:
                    </label>

                    <div class="list">
                        <span class="item">Nature of your injury (Rate: {{(fields.nature_of_injury)?fields.nature_of_injury:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.nature_of_injury" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">Rehabilitation Process (Rate: {{(fields.rehabilitation_process)?fields.rehabilitation_process:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.rehabilitation_process" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">Other information related to injury (Rate: {{(fields.other_information_injury)?fields.other_information_injury:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.other_information_injury" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>


                    <label class="item">
                        How would you rate the physiotherapist on the following:
                    </label>

                    <div class="list">
                        <span class="item">Knowledge (Rate: {{(fields.knowledge)?fields.knowledge:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.knowledge" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">Case Assessment (Rate: {{(fields.case_assessment)?fields.case_assessment:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.case_assessment" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">Treatment (Rate: {{(fields.treatment)?fields.treatment:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.treatment" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">Communication (Rate: {{(fields.communication)?fields.communication:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.communication" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                </form>
                <!--form 2 end -->

                <!--form 3 start -->
                <form name="data.shipping" ng-if="display.currentform == 3">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item">
                        <strong>Rate us</strong>
                    </label>

                    <div class="list">
                        <span class="item">Ambience (Rate: {{(fields.ambience)?fields.ambience:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.ambience" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">Cleanliness (Rate: {{(fields.cleanliness)?fields.cleanliness:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.cleanliness" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">How would you rate the overall serive provided by HEAL <br>(Rate: {{(fields.overall_service_provided)?fields.overall_service_provided:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.overall_service_provided" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Would you like to refer/recommend our services to your Family, Friends and Colleagues
                        </div>
                        <select required="" ng-model="fields.would_you_refer">
                            <option value="Yes"> Yes</option>
                            <option value="No"> No</option>
                        </select>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Name</span>
                        <input type="text"
                               placeholder="e.g Johon"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Contact Number</span>
                        <input type="text"
                               placeholder="e.g +91"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.contact_no">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email id</span>
                        <input type="text"
                               placeholder="e.g Johon@xyz.com"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.email_id">
                    </label>
                </form>
                <!--form 3 start -->

            </div>
        </div>
        <div style="height: 50px;"></div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="cst-icon-div-footer-left" on-tap="previousform()" ng-hide="display.currentform == 1">
            <i class="ion ion-chevron-left"></i>
        </div>
        <div class="cst-icon-div-footer-center">
            {{display.currentform}}/{{display.totalform}}
        </div>
        <div class="cst-icon-div-footer-right" on-tap="nextform()" ng-hide="display.totalform == display.currentform">
            <i class="ion ion-chevron-right"></i>
        </div>
        <div class="cst-icon-div-footer-right" ng-show="display.totalform == display.currentform" ng-click="submitFeedback()">
            Save
        </div>
    </div>
</ion-view>