<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <!--<link href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic" rel="stylesheet">-->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
    <link href="lib/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-material/dist/ionic.material.min.js"></script>
    <script src="lib/jquery/jquery-1.12.4.min.js"></script>
    <script src="lib/ngstorage/ngStorage.min.js"></script>
    <script src="lib/angular-moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.min.js"></script>
    <!--date picker plugin    -->
    <script src="lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>
    <!--ionic toast-->
    <script src="lib/ionic-toast/dist/ionic-toast.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
        <link href="css/ionic.app.css" rel="stylesheet">
        -->
    <style type="text/css">
        .platform-ios .manual-ios-statusbar-padding {
            padding-top: 20px;
        }
        
        .manual-remove-top-padding {
            padding-top: 0px;
        }
        
        .manual-remove-top-padding .scroll {
            padding-top: 0px !important;
        }
    </style>

</head>

<body ng-app="app" class="platform-android">
    <div>
        <div>
            <ion-nav-bar class="bar-stable">
                <ion-nav-back-button class="button-clear">
                    <i class="ion-android-arrow-back"></i>
                </ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </div>
    </div>
    <!--<div class="loading m" ng-hide="hideLoading" style="background: #08747c; color: white; position:absolute;top: 0; left: 0; right: 0; bottom: 0; z-index: 300;">
        <span style="position: absolute;left: 0;right: 0;margin: 0 auto;top: 40%;text-align: center;">
                <span ng-if="error"
                      ng-bind-html="error"></span>
        <span ng-if="!error">
                    <span style="font-size: 21px;">Loading .....</span> <br> This will only take a moment.
        </span>
        </span>
    </div>-->
    <!--weinir-->
    <!--<script src="http://192.168.0.103:8080/target/target-script-min.js"></script>-->
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/form_routes.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/form_controllers.js"></script>
    <script src="js/app.js"></script>
    <!-- Only required for Tab projects w/ pages in multiple tabs
        <script src="lib/ionicuirouter/ionicUIRouter.js"></script>
        -->
</body>

</html>