/* Button
==================================*/

.button,
.button.button-large,
.button.button-flat,
.bar .button,
.bar .button.button-large,
.bar .button.button-flat {
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);  //Change by Gaurish */
    display: inline-block;
    height: 36px;
    padding: 0 2rem;
    border-radius: 2px;
    background-clip: padding-box;
    text-transform: uppercase;
    border: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

.button.disabled,
.button.disabled.button-large,
.button.button-floating.disabled,
.button.button-large.disabled,
.button.button:disabled,
.button.button-large:disabled,
.button.button-large:disabled,
.button.button-floating:disabled,
.bar .button.disabled,
.bar .button.disabled.button-large,
.bar .button.button-floating.disabled,
.bar .button.button-large.disabled,
.bar .button.button:disabled,
.bar .button.button-large:disabled,
.bar .button.button-large:disabled,
.bar .button.button-floating:disabled {
    background-color: #DFDFDF;
    box-shadow: none;
    color: #9F9F9F;
}

.button.disabled:hover,
.button.disabled.button-large:hover,
.button.button-floating.disabled:hover,
.button.button-large.disabled:hover,
.button.button:disabled:hover,
.button.button-large:disabled:hover,
.button.button-large:disabled:hover,
.button.button-floating:disabled:hover,
.bar .button.disabled:hover,
.bar .button.disabled.button-large:hover,
.bar .button.button-floating.disabled:hover,
.bar .button.button-large.disabled:hover,
.bar .button.button:disabled:hover,
.bar .button.button-large:disabled:hover,
.bar .button.button-large:disabled:hover,
.bar .button.button-floating:disabled:hover {
    background-color: #DFDFDF;
    color: #9F9F9F;
}

.button i,
.button.button-large i,
.button.button-floating i,
.button.button-large i,
.button.button-flat i,
.bar .button i,
.bar .button.button-large i,
.bar .button.button-floating i,
.bar .button.button-large i,
.bar .button.button-flat i {
    font-size: 1.3rem;
}

.button-bar .button {
    border-radius: 0;
}

.button,
.button-large,
.bar .button,
.bar .button-large {
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: none;
    margin: 0;
    /* background: transparent; */
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button:focus {
    outline: none;
}

.button.ng-hide {
    -webkit-transition: none;
    transition: none;
}

.button.cornered {
    border-radius: 0;
}

.button.raised {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button-outline,
.button-outline:hover,
.button-outline:active {
    border-style: solid;
    border-width: 1px;
}

.button.button-outline.button-assertive,
.button.button-outline.button-balanced,
.button.button-outline.button-calm,
.button.button-outline.button-dark,
.button.button-outline.button-energized,
.button.button-outline.button-light,
.button.button-outline.button-positive,
.button.button-outline.button-royal,
.button.button-outline.button-stable,
.button.button-outline {
    border-color: rgba(0, 0, 0, 0.1);
}

.button-flat,
.bar .button-flat {
    box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
}

.button.button-flat.disabled,
.bar .button.button-flat.disabled {
    color: #b3b3b3;
}

.button.button-large i,
.bar .button.button-large i {
    font-size: 1.6rem;
}

.button-pin-header.button-floating {
    position: absolute;
    z-index: 1000;
}

.button-pin-header.button-pin-left {
    left: 24px;
    top: -24px;
}

.button-pin-header.button-pin-right {
    right: 24px;
    top: -24px;
}

.button:not([disabled]).raised:focus,
.button:not([disabled]).raised:hover,
.button:not([disabled]).floating:focus,
.button:not([disabled]).floating:hover {
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
}

.button.button-flat {
    box-shadow: none;
    /* background: transparent; */

    color: inherit;
}

.button.button-flat:hover {
    color: inherit;
}

.button.button-flat,
.button.button-flat:hover,
.button.button-flat:active {
    color: #fff;
}

.button.button-clear,
.button.button-clear:hover,
.button.button-clear:active {
    background: transparent;
}


.button-full.ink,
.button-block.ink {
    display: block;
}
