/* List
==================================*/
.content + .list {
  padding-top: 0; }

.list .item {
  border: none;
  /*
  padding-left: 16px;
  padding-right: 16px;
  */
  min-height: 48px;
  text-align: left; }

.list .item.tabs {
  padding: initial; }

.list .item.item-bg-image {
  max-height: 150px;
  min-height: 150px; }

.list .item.item-bg-image > img {
  height: 100%;
  left: 0;
  max-width: initial;
  opacity: 0.65;
  filter: alpha(opacity=65);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0; }

.list a.item {
  opacity: 1;
  filter: alpha(opacity=100); }

.list .item.item-bg-image h1, .list .item.item-bg-image h2, .list .item.item-bg-image h3, .list .item.item-bg-image h4, .list .item.item-bg-image h5, .list .item.item-bg-image h6 {
  color: #fff;
  font-weight: bold;
  position: relative;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
  z-index: 1; }

.list .item.item-bg-image h2 {
  font-size: 24px; }

.list .item.item-bg-image h2 {
  font-size: 24px; }

.list .item.item-bg-image p {
  color: white;
  font-size: 17px;
  position: relative;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.95);
  z-index: 1; }

.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
  min-height: 80px; }

/* List: Thumbnails
==================================*/
.item-thumbnail-left, .card > .item.item-thumbnail-left, .item-thumbnail-left .item-content {
  padding-left: 106px; }

.item-thumbnail-right, .card > .item.item-thumbnail-right, .item-thumbnail-right .item-content {
  padding-right: 106px; }

/* List: Avatar
==================================*/
.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
  border-radius: 50%;
  left: 16px;
  max-height: 40px;
  max-width: 40px; }

/*
.item-avatar, .list .item-avatar {
    padding-left: 100px;
}
*/
.avatar, .item-avatar .avatar {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  height: 56px;
  left: 16px;
  position: absolute;
  width: 56px; }

/* List: Gallery
==================================*/
.list.half {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 50%; }

.list.half:first-child {
  padding: 16px 8px 16px 16px; }

.list.half:last-child {
  padding: 16px 16px 16px 8px; }

.list.half:first-child .card.card-gallery {
  margin-left: 0;
  margin-right: 0; }

.list.half:last-child .card.card-gallery {
  margin-left: 0;
  margin-right: 0; }

.list.condensed-space > .card, .list.condensed-space > .item {
  margin: 0px 0px 2px; }

.list .card.card-gallery {
  display: block;
  float: left;
  margin: 0 0 0 13px;
  padding: 0;
  width: auto; }

.list.half .item {
  width: 100%; }

.list.half .item.card {
  margin-bottom: 16px; }

.list .card.card-gallery.item h2 {
  padding: 12px; }

.list .item.item-gallery img {
  width: 100%; }

.item.item-divider {
  border-top: solid 1px rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: bold;
  height: 48px;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.54); }
  .item.item-divider:first-child {
    border: none; }

.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content, .card > .item-avatar {
  padding-left: 72px; }

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
  background-color: transparent; }

.list-inset {
  margin: 20px 30px;
  border: solid 1px #ccc;
  border-radius: 0;
  background-color: #fff; }

.list .item.item-floating-label,
.item-floating-label {
  border-bottom: solid 1px #ccc; }

/*# sourceMappingURL=list.css.map */
