<ion-view title="Message Assissment" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">

        <div class="list">
            <div class="list" style="margin-bottom: 0px">
                <!--form 1 start -->
                <form name="data.shipping" ng-if="display.currentform == 1">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                            <span class="input-label">First Name</span>
                            <input type="text"
                                    placeholder="e.g Johon"
                                   required=""
                                   name="ship_customer_name"
                                   ng-model="data.news.first_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                            <span class="input-label">Last Name</span>
                            <input type="text"
                                    placeholder="e.g Smit"
                                   required=""
                                   name="ship_customer_name"
                                   ng-model="data.news.last_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                            <span class="input-label">Mobile Number</span>
                           <input type="number"
                                   placeholder="+91"
                                   ng-pattern="/^[789]\d{9}$/"
                                   ng-model="data.news.mobile"
                                   required="">
                    </label>
                    <label class="item item-input item-select">
                            <div class="input-label">
                                Therapist
                            </div>
                            <select required="" disabled="" ng-model="data.news.designation" ng-options="c.id as c.name for c in storage.var.circles">
                                <option value=""> Select designation</option>
                            </select>
                    </label>
                    <label class="item item-input item-stacked-label">
                            <span class="input-label">Gender</span>
                            <ion-list>
                                <ion-radio ng-model="choice" ng-value="'male'">Male</ion-radio>
                                <ion-radio ng-model="choice" ng-value="'female'">Female</ion-radio>
                            </ion-list>  
                    </label>
                    <!--
                    <label class="item item-input item-select">
                            <div class="input-label">
                                Circle
                            </div>
                            <select required="" disabled="" ng-model="data.news.location" ng-options="c.id as c.name for c in storage.var.circles">
                                <option value=""> Select Circle </option>
                            </select>
                        </label>-->

                </form>
                <!--form 1 end -->

                <!--form 2 start -->
                <form name="data.shipping" ng-if="display.currentform == 2">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                            <span class="input-label">Email id</span>
                            <input type="text"
                                    placeholder="e.g some@xyz.com"
                                   required=""
                                   name="ship_customer_name"
                                   ng-model="data.news.email">
                    </label>
                    <label class="item item-input item-stacked-label">
                            <span class="input-label">Alt. Mobile</span>
                            <input type="text"
                                    placeholder="+91"
                                   required=""
                                   name="ship_customer_name"
                                   ng-model="data.news.alt_mobile">
                    </label>
                    <label class="item item-input item-stacked-label">
                            <span class="input-label">Company</span>
                            <input type="text"
                                    placeholder="e.g google"
                                   required=""
                                   name="ship_customer_name"
                                   ng-model="data.news.company">
                    </label>
                    <label class="item item-input item-select">
                            <div class="input-label">
                                Designation
                            </div>
                            <select required="" disabled="" ng-model="data.news.designation" ng-options="c.id as c.name for c in storage.var.circles">
                                <option value=""> Select designation</option>
                            </select>
                    </label>
                    <label class="item item-input item-stacked-label">
                           <span class="input-label">Referred By</span>
                            <input type="text"
                                    placeholder="e.g News paper"
                                   required=""
                                   name="ship_customer_name"
                                   ng-model="data.news.referred_by">
                    </label>
                    <label class="item item-input item-stacked-label">
                           <span class="input-label">Referred By</span>
                             <ion-list>
                                <ion-checkbox ng-model="filter" ng-value="'sportclud'">Sporting Club Network</ion-checkbox>
                                <ion-checkbox ng-model="as" ng-value="'gorgaon sport'">Goregaon Sport Club</ion-checkbox>
                                <ion-checkbox ng-model="assd" ng-value="'national sport'">National Sports Club of India</ion-checkbox>
                            </ion-list>
                    </label>
                </form>
                <!--form 2 end -->

                <!--form 3 start -->
                <form name="data.shipping" ng-if="display.currentform == 3">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                           <span class="input-label">Where did you hear about us?</span>
                             <ion-list>
                                <ion-checkbox ng-model="filter" ng-value="'sportclud'">Social Media</ion-checkbox>
                                <ion-checkbox ng-model="as" ng-value="'gorgaon sport'">Existing Client</ion-checkbox>
                                <ion-checkbox ng-model="assd" ng-value="'national sport'">Print Media</ion-checkbox>
                                <ion-checkbox ng-model="assdas" ng-value="'national sport'">Walk in</ion-checkbox>
                                <ion-checkbox ng-model="assd323" ng-value="'national sport'">other</ion-checkbox>
                            </ion-list>
                    </label>
                    <label class="item item-input item-stacked-label">
                           <span class="input-label">Center Location</span>
                             <ion-list>
                                <ion-checkbox ng-model="charsd" ng-value="'sportclud'">Khar</ion-checkbox>
                                <ion-checkbox ng-model="asdasd" ng-value="'gorgaon sport'">Colaba</ion-checkbox>
                                <ion-checkbox ng-model="asssadfasdfasd" ng-value="'national sport'">Parel</ion-checkbox>
                            </ion-list>
                    </label>
                </form>
                <!--form 3 start -->
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="cst-icon-div-footer-left" on-tap="previousform()" ng-hide="display.currentform == 1">
            <i class="ion ion-chevron-left"></i>
        </div>
        <div class="cst-icon-div-footer-center">
            {{display.currentform}}/{{display.totalform}}
        </div>
        <div class="cst-icon-div-footer-right" on-tap="nextform()" ng-hide="display.totalform == display.currentform">
            <i class="ion ion-chevron-right"></i>
        </div>
        <div class="cst-icon-div-footer-right" ng-show="display.totalform == display.currentform">
            Save
        </div>
    </div>
</ion-view>