<ion-view title="Message Consulatation" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">

        <div class="list">
            <div class="list" style="margin-bottom: 0px">
                <!--form 2 start -->
                <form name="data.shipping" ng-if="display.currentform == 1">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        The lifestyle Consultation will allow us to personalize you massage experience and ensure that
                        we cater to your specific needs.
                    </label>
                    <label class="item item-stacked-label">
                        <span class="input-label">What would you like to achieve from treatment experience?</span>
                        <ion-list>
                            <ion-checkbox ng-model="fields.achive_fr_experience['Relieve Muscular Tension']"
                                          ng-value="'true'">Relieve Muscular Tension
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.achive_fr_experience['Ease Aches & Pain']" ng-value="'true'">
                                Ease Aches & Pain
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.achive_fr_experience['De-stress']" ng-value="'true'">
                                De-stress
                            </ion-checkbox>
                        </ion-list>
                    </label>
                    <label class="item item-stacked-label">
                        <span class="input-label">Which treatment pressure do you prefer ?</span>
                        <ion-list>
                            <ion-checkbox ng-model="fields.treatment_pressure_prefer['Deep']" ng-value="'true'">Deep
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.treatment_pressure_prefer['Light']" ng-value="'true'">Light
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.treatment_pressure_prefer['Medium']" ng-value="'true'">
                                Medium
                            </ion-checkbox>
                        </ion-list>
                    </label>
                    <label class="item item-stacked-label">
                        <span class="input-label">Are there any particular areas you would like me to concentrate on?</span>
                        <ion-list>
                            <ion-checkbox ng-model="fields.perticular_area_concertrate['Back']" ng-value="'true'">Back
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.perticular_area_concertrate['Neck & Shoulder']"
                                          ng-value="'true'">Neck & Shoulder
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.perticular_area_concertrate['Legs']" ng-value="'true'">Legs
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.perticular_area_concertrate['Feet']" ng-value="'true'">Feet
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.perticular_area_concertrate['Arms']" ng-value="'true'">Arms
                            </ion-checkbox>
                        </ion-list>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Any Allergies</span>
                        <ion-list>
                            <ion-checkbox ng-model="fields.any_allergies['Medication']" ng-value="'true'">Medication
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.any_allergies['Essential Oils']" ng-value="'true'">Essential
                                Oils
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.any_allergies['Nuts']" ng-value="'true'">Nuts</ion-checkbox>
                            <ion-checkbox ng-model="fields.any_allergies['Heat']" ng-value="'true'">Heat</ion-checkbox>
                            <ion-checkbox ng-model="fields.any_allergies['Other']" ng-value="'true'">Other
                            </ion-checkbox>
                        </ion-list>
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">Have you had any surgey or accident within the last year ?</span>
                        <select ng-model="fields.any_surgery_accident">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </form>
                <!--form 2 end -->

                <!--form 3 start -->
                <form name="data.shipping" ng-if="display.currentform == 2">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item">
                        <strong>Rate yourself</strong>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Do you have any of these aliments</span>
                        <ion-list>
                            <ion-checkbox ng-model="fields.aliments['Diabetes']" ng-value="'true'">Diabetes
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.aliments['Epilepsy']" ng-value="'true'">Epilepsy
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.aliments['Asthma']" ng-value="'true'">Asthma</ion-checkbox>
                            <ion-checkbox ng-model="fields.aliments['Heart Problems']" ng-value="'true'">Heart
                                Problems
                            </ion-checkbox>
                            <ion-checkbox ng-model="fields.aliments['Others']" ng-value="'true'">Others</ion-checkbox>
                        </ion-list>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Are you pregnant or planning a child?
                        </div>
                        <select ng-model="fields.pregnant">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <div class="input-label">
                            Terms & Conditions
                        </div>
                        <p> Some terms and conditions are here </p>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Sign:</span>
                        <input type="text"
                               placeholder="e.g Johon"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.sign">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Date:</span>
                        <input type="text"
                               placeholder="e.g 9/10/17"
                               ng-click="triggerDate()"
                               name="ship_customer_name"
                               ng-model="fields.custom_date">
                    </label>
                </form>
                <!--form 3 start -->

            </div>
        </div>
        <div style="height: 50px;"></div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="cst-icon-div-footer-left" on-tap="previousform()" ng-hide="display.currentform == 1">
            <i class="ion ion-chevron-left"></i>
        </div>
        <div class="cst-icon-div-footer-center">
            {{display.currentform}}/{{display.totalform}}
        </div>
        <div class="cst-icon-div-footer-right" on-tap="nextform()" ng-hide="display.totalform == display.currentform">
            <i class="ion ion-chevron-right"></i>
        </div>
        <div class="cst-icon-div-footer-right" ng-show="display.totalform == display.currentform"
             ng-click="submitConsulatation()">
            Save
        </div>
    </div>
</ion-view>