<ion-view title="Message Feedback" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">

        <div class="list">
            <div class="list" style="margin-bottom: 0px">
                <!--form 1 start -->
                <form name="data.shipping" ng-if="display.currentform == 1">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">First Name</span>
                        <input type="text"
                               placeholder="e.g Johon"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.first_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Last Name</span>
                        <input type="text"
                               placeholder="e.g Johon"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.last_name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Mobile Number</span>
                        <input type="number"
                               placeholder="+91"
                               ng-model="fields.mobile"
                               required="">
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Trainer
                        </div>
                        <select required="" ng-model="fields.therapist_id">
                            <option value=""> Vivek</option>
                            <option value=""> rajesh</option>
                            <option value=""> umar</option>
                            <option value=""> alex</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Location
                        </div>
                        <select ng-model="fields.location">
                            <option value="Thane"> Thane</option>
                            <option value="Khar"> Khar</option>
                            <option value="Colaba"> Colaba</option>
                            <option value="Parel"> Parel</option>
                        </select>
                    </label>
                </form>
                <!--form 1 end -->

                <!--form 2 start -->
                <form name="data.shipping" ng-if="display.currentform == 2">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <div class="list">
                        <span class="item"> Quality of the therapy and products used (Rate: {{(fields.quality_therapy)?fields.quality_therapy:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.quality_therapy" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item"> Rating of the massage therapist (Rate: {{(fields.rating_massage)?fields.rating_massage:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.rating_massage" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item"> Overall experience (Rate: {{(fields.overall_experince)?fields.overall_experince:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.overall_experince" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>


                    <label class="item item-input">
                        Ratus us on:
                    </label>

                    <div class="list">
                        <span class="item"> Ambience (Rate: {{(fields.ambience)?fields.ambience:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.ambience" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                </form>
                <!--form 2 end -->

                <!--form 3 start -->
                <form name="data.shipping" ng-if="display.currentform == 3">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <div class="list">
                        <span class="item"> Cleanliness (Rate: {{(fields.cleanliness)?fields.cleanliness:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.cleanliness" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <div class="list">
                        <span class="item">   How would you rate the overall service provided by HEAL<br> (Rate: {{(fields.overall_service_heal)?fields.overall_service_heal:'?'}}/10)</span>

                        <div class="item range range-positive">
                            <i class="icon ion-android-sad"></i>
                            <input type="range" ng-model="fields.overall_service_heal" name="volume" min="1" max="10">
                            <i class="icon ion-android-happy"></i>
                        </div>
                    </div>

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Would you like to refer/recommend our services to your Family, Friends and Colleagues
                        </div>
                        <select required="" ng-model="fields.would_you_refer">
                            <option value="Yes"> Yes</option>
                            <option value="No"> No</option>
                        </select>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Name</span>
                        <input type="text"
                               placeholder="e.g Johon"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.name">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Contact Number</span>
                        <input type="text"
                               placeholder="e.g +91"
                               required=""
                               name="ship_customer_name"
                               ng-model="fields.contact_no">
                    </label>
                </form>
                <!--form 3 start -->
            </div>
        </div>
        <div style="height: 50px;"></div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="cst-icon-div-footer-left" on-tap="previousform()" ng-hide="display.currentform == 1">
            <i class="ion ion-chevron-left"></i>
        </div>
        <div class="cst-icon-div-footer-center">
            {{display.currentform}}/{{display.totalform}}
        </div>
        <div class="cst-icon-div-footer-right" on-tap="nextform()" ng-hide="display.totalform == display.currentform">
            <i class="ion ion-chevron-right"></i>
        </div>
        <div class="cst-icon-div-footer-right" ng-show="display.totalform == display.currentform" ng-click="submitFeedback()">
            Save
        </div>
    </div>
</ion-view>