<ion-view title="Allocation" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="list">
            <div class="list" style="margin-bottom: 0px">
                <!--form 1 start -->
                <form name="fields-forms" ng-submit="createAllocation()">
                    <div class="m" style="font-size: 16px; text-align: center;">
                        &nbsp;
                    </div>
                    <label class="item item-select">
                        <span class="input-label">Therapist</span>
                        <select required="" ng-model="fields.therapist_id">
                            <option ng-value="null">--select--</option>
                            <option ng-value="25">Vivek</option>
                            <option ng-value="26">Rajesh</option>
                            <option ng-value="27">Umar</option>
                            <option ng-value="28">Alex</option>
                        </select>
                    </label>
                    <ion-list>
                        <ion-checkbox ng-model="fields.book_appointment">Book appointment</ion-checkbox>
                    </ion-list>
                    <div ng-if="fields.book_appointment">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Appointment Date</span>
                            <input type="text"
                                   placeholder="e.g 12/9/1980"
                                   required=""
                                   name="ship_customer_name"
                                   ng-click="trigger_datepicker()"
                                   ng-model="fields.appointment_date">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Appointment time</span>
                            <input type="text"
                                   placeholder="12:30"
                                   required=""
                                   name="ship_customer_name"
                                   ng-model="fields.appointment_time">
                        </label>
                    </div>
                    <label class="item">
                        <button type="submit" class="button button-stable">
                            create
                        </button>
                    </label>
                </form>
                <!--form 1 end -->
            </div>
        </div>
        <div style="height: 60px;"></div>
    </ion-content>
</ion-view>