<ion-view title="My account" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">

        <div ng-show="logincheck">
            <!--<div class="tabs tabs-positive cst-tab-coolors tabs-icon-left cst-tab-font"-->
            <!--<div class="tabs tabs-positive tabs-icon-top" style="position: static; margin-bottom: 15px;">-->
            <!--<a class="tab-item">-->
            <!--<i class="icon ion-home"></i> Home-->
            <!--</a>-->
            <!--<a class="tab-item active">-->
            <!--<i class="icon ion-star"></i> Favorites-->
            <!--</a>-->
            <!--<a class="tab-item">-->
            <!--<i class="icon ion-gear-a"></i> Settings-->
            <!--</a>-->
            <!--</div>-->
            <div class="tabs-striped tabs-color-assertive" style="position: static; margin-bottom: 15px;">
                <div class="tabs" style="position: static;">
                    <a class="tab-item active" data-ink-color="#ef473a" href="#/side-menu21/accountsetting" data-ink-opacity=".35">
                        <!--<i class="icon ion-home"></i> -->
                        Profile
                    </a>
                    <a class="tab-item" data-ink-color="#ef473a" href="#/side-menu21/orders" data-ink-opacity=".35">
                        <!--<i class="icon ion-star"></i> -->
                        Orders
                    </a>
                </div>
            </div>

            <p class="m" style="text-align: center; margin-bottom: 10px;">
                Account information
            </p>

            <div class="list">
                <div class="item list-item">
                    <span style="float:right">
                           {{userdetails.profile_fields.fullname || 'N/a'}}
                        </span> Full Name
                </div>
                <div class="item list-item">
                    Email <span style="float:right">{{userdetails.email}}</span>
                </div>
                <div class="item list-item">
                    <span style="float:right;text-align:right">
                        {{userdetails.mobile || 'N/a'}} <br>
                        <a ng-if="userdetails.mobile_verified != 1" ng-click="verifyMobile()">Verify mobile number</a>
                    </span>
                    Mobile
                </div>
                <div class="item list-item">
                    Circle <span style="float:right">
                         <select required="" disabled="" ng-model="userdetails.circle" ng-options="c.id as c.name for c in storage.var.circles">
                                <option value="">-- Select Circle --</option>
                            </select>
                        </span>
                </div>
                <!--<div class="item list-item">-->
                    <!--<button class="button button-small button-outline button-stable" ng-click="editAccount()">Edit</button>-->
                <!--</div>-->
            </div>
        </div>
        <div ng-show="!logincheck" style="margin-top:50px;">
            <div class="padding">
                <div class="text-center">
                    <span style="font-size: 50px;" class="icon ion-android-lock"></span>
                    <p style="margin-top: 10px;">
                        You need to be logged-in to see what lives here
                    </p>
                </div>
                <div class="row">
                    <div class="col-25"></div>
                    <div class="col-50">
                        <login-dtr></login-dtr>
                    </div>
                    <div class="col-25"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>