<ion-view title="Chips" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">

        <div ng-show="logincheck">
            <div class="tabs-striped tabs-color-assertive" style="position: static; margin-bottom: 15px;">
                <div class="tabs" style="position: static;">
                    <a class="tab-item" data-ink-color="#ef473a" href="#/side-menu21/wallet" data-ink-opacity=".35">
                        <!--<i class="icon ion-home"></i> -->
                        Wallet
                    </a>
                    <a class="tab-item active" data-ink-color="#ef473a" href="#/side-menu21/chips" data-ink-opacity=".35">
                        <!--<i class="icon ion-star"></i> -->
                        Chips
                    </a>
                </div>
            </div>
            <div class="list item-text-wrap padding">
                <div class="text-center">
                    <div style="height: 10px;"></div>
                    <div style="font-size: 35px; vertical-align: middle"> {{balance.chip || 0}}</div>
                    <div style="height: 10px;"></div>
                    <div style="vertical-align: middle;">Chips earned</div>
                </div>
                <!--<div class="text-center" style="color: #aaa">Every 1 chip = 1 ₹</div>-->
                <!--<div class="text-center">-->
                <!--<button class="button button-outline button-positive button-small" ng-click="showAddWalletPop()">-->
                <!--Add money to wallet-->
                <!--</button>-->
                <!--</div>-->
            </div>
            <!--<p class="m" style="text-align: center; margin-bottom: 10px;">-->
            <!--<i class="ion-closed-captioning" ng-show="balance.chip"></i> {{(balance.chip)?balance.chip:'Sorry not chip available'}}-->
            <!--</p>-->
            <!--<p style="text-align: center; margin-bottom: 10px;">-->
            <!--1 Chip = 1 ₹-->
            <!--</p>-->
            <!--<hr>-->
            <!--<p class="m" style="text-align: center; margin-bottom: 10px;">-->
            <!--Chips Transaction-->
            <!--</p>-->
            <p class="m" style="text-align: left; margin-bottom: 10px; padding-left: 15px;">
                Chips activity
            </p>
            <div class="list">
                <a class="item" style="border-top: solid 1px rgba(0,0,0,0.1)" collection-repeat="value in chip_transaction">
                    <span class="item-note text-right">
                        <span ng-if="value.amount_credited != 0">Added<br> <span style="font-size: 18px; color: black">+ {{value.amount_credited}}</span></span>
                    <span ng-if="value.amount_deducted != 0">Debited<br> <span
                                style="font-size: 18px; color: black">— {{value.amount_deducted}}</span></span>
                    </span>

                    #{{value.id}}<br>

                    <div style="">{{value.created_at| amFromUnix | amDateFormat:'DD MMM\' YYYY hh:mm a'}}</div>
                    <div style="color: #aaa">{{value.comment}}</div>
                </a>
                <div class="item item-text-wrap" ng-show="!chip_transaction.length">
                    <div class="text-center" style="color: #aaa">
                        <div style="height: 20px;"></div>
                        <div style="font-size: 30px;"><i class="icon ion-android-list"></i></div>
                        <div style="height: 10px;"></div>
                        <div style="font-size: 16px;">No activity yet</div>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll ng-if="chip_transaction.length < total" on-infinite="chipTransaction(false)" distance="1%" immediate-check="false">
            </ion-infinite-scroll>
        </div>
        <div ng-show="!logincheck" style="margin-top:50px;">
            <div class="card padding">
                <p style="text-align: center;">You need to login to access this panel</p>
                <login-dtr></login-dtr>
            </div>
        </div>
    </ion-content>
</ion-view>