<ion-view title="Order #{{data.order_id}}" id="page19" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w"
                menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" overflow-scroll="true" class="has-header">
        <div class="card" ng-show="logincheck" style="margin-bottom: 75px">
            <div class="list">
                <a class="item cst-remove-side-padding" >
                    <div class="row">
                        <div class="col text-center col-center">
                            <div class="operator-{{utils.operatorSlug(utils.operatorName(data.selected_order.items[data.select_item_key].item.operator_id))}}"
                                 style="width: 65px"></div>
                        </div>
                        <div class="col col-75 text-left">
                            <h2>{{data.selected_order.items[data.select_item_key].item.number}}</h2>
                            <p>{{data.selected_order.items[data.select_item_key].item.operator_name}}&nbsp;({{data.selected_order.items[data.select_item_key].item.category_name}})</p>
                            <p>{{data.selected_order.items[data.select_item_key].item.circle_name}}</p>
                            <p>Booking Date: {{data.selected_order.order.created_at| amFromUnix  | amDateFormat:'DD MMM\' YYYY'}}</p>
                            <p>{{data.selected_order.items[data.select_item_key].item.category_type_name}}</p>
                        </div>
                    </div>
                </a>
                <a class="item">
                    <p><strong>Customer name</strong>&nbsp;&nbsp;&nbsp;{{data.selected_order.items[data.select_item_key].customer_name}}</p>
                    <p><strong>Customer mobile</strong>&nbsp;{{data.selected_order.items[data.select_item_key].customer_mobile}}</p>
                </a>
                <a class="item">
                    <p><strong>Shipping Details</strong></p>
                    <p>{{data.selected_order.order.shipping_address.street}},&nbsp;{{data.selected_order.order.shipping_address.landmark}}</p>
                    <p>{{utils.circleName(data.selected_order.order.shipping_address.location)}},&nbsp;{{data.selected_order.order.shipping_address.pincode}}</p>
                </a>
                <a class="item" ng-if="data.selected_order.order.billing_address && data.selected_order.order.billing_address.address">
                    <p><strong>Billing Details</strong></p>
                    <p>{{data.selected_order.order.billing_address.address}},&nbsp;{{data.selected_order.order.billing_address.landmark}}</p>
                    <p>{{utils.circleName(data.selected_order.order.billing_address.location)}},&nbsp;{{data.selected_order.order.billing_address.pincode}}</p>
                </a>
                <div class="item item-divider">Order Tracking</div>
                <ion-slide-box on-slide-changed="slideHasChanged($index)"  active-slide="track_index">
                    <ion-slide ng-repeat="(key, value) in data.selected_order.items[data.select_item_key].tracking | orderBy: attempt">
                        <div class="item" ng-show="data.selected_order.items[data.select_item_key].tracking.length != 1">
                            <h3>Attempt {{value.attempt}}</h3>
                        </div>
                        <ul class="list cst-padding">
                            <li style="white-space: initial;" class="item item-button-right" ng-if="value.attempt == 1" >
                                Order Confirm 
                                <p style="font-size: 11.5px" >{{(value.confirmed) ? fun.convertdate(value.confirmed_at) : 'Our customer executive will call you to confirm the booking.'}}</p>
                                <button class="button button-icon" ng-class="{'ion-more': value.confirmed == null,'ion-checkmark':value.confirmed == 1}">
                                </button>
                            </li>
                            <li class="item item-button-right" ng-if="value.attempt == 1">
                                Product Dispatch
                                <p style="font-size: 12px" >{{(value.dispatched) ? fun.convertdate(value.dispatched_at) : 'The product is yet to be dispatched'}}</p>
                                <button class="button button-icon" ng-class="{'ion-more': value.dispatched == null,'ion-checkmark':value.dispatched == 1}">
                                </button>
                            </li>
                            <li class="item item-button-right" ng-if="value.attempt == 1">
                                Product delivered
                                <p style="font-size: 12px" >{{(value.delivered) ? fun.convertdate(value.delivered_at) : 'The product is yet to be delivered'}}</p>
                                <button class="button button-icon" ng-class="{'ion-more': value.delivered == null,'ion-checkmark':value.delivered == 1}">
                                </button>
                            </li>
                            <li class="item item-button-right">
                                Document collection
                                <p style="font-size: 12px" >{{(value.doc_collected) ? fun.convertdate(value.doc_collected_at) : 'Documents are yet to be collected'}}</p>
                                <button class="button button-icon" ng-class="{'ion-more': value.doc_collected == null,'ion-checkmark':value.doc_collected == 1}">
                                </button>
                            </li>
                            <li class="item item-button-right">
                                Document submit to {{data.selected_order.items[data.select_item_key].item.operator_name}}
                                <p style="font-size: 12px" >{{(value.doc_operator) ? fun.convertdate(value.doc_operator_at) : 'Documents yet to be submitted to ' + data.selected_order.items[data.select_item_key].item.operator_name}}</p>
                                <button class="button button-icon" ng-class="{'ion-more': value.doc_operator == null,'ion-checkmark':value.doc_operator == 1}">
                                </button>
                            </li>
                            <li class="item item-button-right" ng-if="value.rejected">
                                Document rejected
                                <p style="font-size: 12px" >{{(value.rejected) ? fun.convertdate(value.rejected_at) : 'No Rejected'}}</p>
                                <p>{{value.rejected_reason}}</p>
                                <button class="button button-icon" ng-class="{'ion-more': value.rejected == null,'ion-close':value.rejected == 1}">
                                </button>
                            </li>
                            <li class="item item-button-right">
                                Product active
                                <p style="font-size: 12px" >{{(value.activated) ? fun.convertdate(value.activated_at) : 'Product is yet to be activated'}}</p>
                                <button class="button button-icon" ng-class="{'ion-more': value.activated == null,'ion-checkmark':value.activated == 1}">
                                </button>
                            </li>
                            <li class="item item-button-right" ng-if="!value.cancelled">
                                Product verified
                                <p style="font-size: 12px" >{{(value.verified) ? fun.convertdate(value.verified_at) : 'Pending'}}</p>
                                <button class="button button-icon" ng-class="{'ion-more': value.verified == null,'ion-checkmark':value.verified == 1}">
                                </button>
                            </li>
                            <li class="item item-button-right" ng-if="value.cancelled">
                                Cancelled
                                <p style="font-size: 12px" >{{(value.cancelled) ? fun.convertdate(value.cancelled_at) : 'No Rejected'}}</p>
                                <p>{{value.rejected_reason}}</p>
                                <button class="button button-icon" ng-class="{'ion-more': value.cancelled == null,'ion-close':value.cancelled == 1}">
                                </button>
                            </li>
                        </ul>
                        <br>
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div ng-if="!data.selected_order.items[data.select_item_key].item.number" style="margin-top:50px;">
                <div class="card padding">
                    <p style="text-align: center;">
                        This place is empty <br>
                        You've not placed any orders
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title" on-tap="backtoorder()"><i class="ion ion-chevron-left"></i> Back to orders</div>
    </div>
</ion-view>