<ion-view title="My orders" id="page10" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" overflow-scroll="true" class="has-header">
        <div class="card" ng-show="logincheck" ng-repeat="(mkey, mvalue) in data.orders">
            <div class="item item-divider" style="line-height: 33px">
                <div class="row">
                    <div class="col col-50">
                        #{{mvalue.id}}
                        <p>Rs. {{mvalue.cost}}</p>
                    </div>
                    <div class="col text-right" style="font-size: 13px">
                        {{mvalue.created_at| amFromUnix | amDateFormat:'DD MMM\' YYYY hh:mm a'}}
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap cst-remove-side-padding">
                <a class="item cst-remove-side-padding" ng-repeat="(key, value) in mvalue.items" href="#/side-menu21/order-detail/{{mvalue.id}}/{{key}}">
                    <div class="row">
                        <div class="col text-left">
                            <div class="operator-{{utils.operatorSlug(utils.operatorName(value.item.operator_id))}}" style="width: 65px"></div>
                        </div>
                        <div class="col col-75 text-left">
                            <h2>{{value.item.number}}</h2>
                            <p>{{(value.item.target_operator_id)? 'Port to: '+utils.operatorName(value.item.target_operator_id):value.item.operator_name}}
                                &nbsp;({{(value.item.target_category)? utils.categoryName(value.item.target_category):value.item.category_name}})
                            </p>
                            <p>{{(value.item.target_circle_id)? utils.circleName(value.item.target_circle_id) : value.item.circle_name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-90 col-bottom text-center">
                            <strong>Tap to view</strong>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item cst-remove-top-padding">
                <div class="row text-pulling">
                    <div class="col col-center text-left"><strong>{{mvalue.payment_mode_name}}</strong></div>
                    <div class="col-75 col-center text-right"><strong>Total Rs. {{mvalue.cost}}</strong></div>
                </div>
            </div>
        </div>
        <div ng-show="!logincheck" style="margin-top:50px;">
            <div class="padding">
                <div class="text-center">
                    <span style="font-size: 50px;" class="icon ion-android-lock"></span>
                    <p style="margin-top: 10px;">
                        You need to be logged-in to see what lives here
                    </p>
                </div>
                <div class="row">
                    <div class="col-25"></div>
                    <div class="col-50">
                        <login-dtr></login-dtr>
                    </div>
                    <div class="col-25"></div>
                </div>
            </div>
        </div>
        <div ng-show="data.orders.length == 0" style="margin-top:50px;">
            <div class="card padding">
                <p style="text-align: center;">
                    This place is empty <br> You've not placed any orders
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>