<ion-view title="Password" id="page15">
    <ion-content padding="true" class="has-header" >
        <div class="button-bar"></div>
        <div class="padding" ng-show="logincheck">
            <div class="list">
                <label class="item item-input">
                    This isdasdf
                    <input class="">
                </label>
            </div>
        </div>
        <div ng-show="!logincheck" style="margin-top:50px;">
            <div class="card padding">
                <p style="text-align: center;">You need to login to access this panel</p>
                <login-dtr></login-dtr>
            </div>
        </div>
    </ion-content>
</ion-view>