<ion-view title="Recharge orders" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-header-bar align-title="left" class="bar-clear bar bar-subheader">
        <div class="row" ng-show="data.total">
            <div class="col col-50" style="color: black;">
                <strong style="font-size: 13px;">Total {{data.total}} orders</strong>
            </div>
            <!--<div class="col text-left">
                <button class="filter-button button-block " on-tap="sort_price()">
                    Date
                    <i class="ion" ng-class="{'ion-arrow-up-b':price_flag,'ion-arrow-down-b':!price_flag}"></i>
                </button>
            </div>-->
            <!--<div class="col">
                <button type="button" ng-click="show_search()" class="filter-button button-block">
                    Filter
                </button>
            </div>-->
        </div>
    </ion-header-bar>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">
        <div ng-show="logincheck">
            <div class="list">
                <a class="item" href="#/side-menu21/recharge-history/{{value.id}}" style="border-top: solid 1px #eee;" collection-repeat="value in billOrderHistory">
                    <span class="pull-right text-right" style="">
                        <div style="color: #555; font-size: 16px">₹&nbsp;{{value.customer_amount}}</div>
                        <span class="label label-success" ng-class="{
                        'label-success' : value.status == '1',
                        'label-danger': value.status == '2' || value.status == '4',
                        'label-warning': value.status == '3' || value.status == null || value.status == '0'
                        }">
                            <span ng-if="value.status == '1'">Success</span>
                    <span ng-if="value.status == '2' || value.status == '4'">Failed</span>
                    <span ng-if="value.status == '3' || value.status == null || value.status == '0'">Pending</span>
                    </span>
                    <div ng-if="value.reward_coin_amount" style="margin-top: 5px; font-size: 12px;">
                        + {{value.reward_coin_amount}} chips
                    </div>
                    </span>
                    <div style="color: #aaa">#{{value.order_id}}</div>
                    <div style="font-size: 18px;margin: 3px 0;">{{value.customer_number}}</div>
                    <p>{{utils.operatorName(value.operator_id)}} {{utils.circleName(value.circle_id)}} </p>
                    <!--<p><strong> Rs: {{value.customer_amount}}</strong></p>-->
                    <p>{{value.created_at| amFromUnix | amDateFormat:'DD MMM\' YYYY hh:mm a'}}</p>
                </a>
                <div class="item item-text-wrap" ng-show="!billOrderHistory || !billOrderHistory.length">
                    <div class="text-center" style="color: #aaa">
                        <div style="height: 50px;"></div>
                        <div style="font-size: 70px;"><i class="icon ion-android-sad"></i></div>
                        <div style="height: 10px;"></div>
                        <div style="font-size: 16px;">You've made no recharges yet</div>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll ng-if="billOrderHistory.length < data.total" on-infinite="getRechargeHistory(false)" distance="1%" immediate-check="false">
            </ion-infinite-scroll>
        </div>
        <div ng-show="!logincheck" style="margin-top:50px;">
            <div class="padding">
                <div class="text-center">
                    <span style="font-size: 50px;" class="icon ion-android-lock"></span>
                    <p style="margin-top: 10px;">
                        You need to be logged-in to see what lives here
                    </p>
                </div>
                <div class="row">
                    <div class="col-25"></div>
                    <div class="col-50">
                        <login-dtr></login-dtr>
                    </div>
                    <div class="col-25"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>