<ion-view title="Recharge order"
          id="page10"
          hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w"
                menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content padding="true"
                 overflow-scroll="true"
                 class="has-header">

        <div class="text-center" style="margin-top: 100px;" ng-if="!details && logincheck">
            <ion-spinner icon="android"
                         style="display: inline-block;vertical-align: middle;"></ion-spinner>
        </div>

        <div class="card fl"
             ng-show="details && logincheck">
            <div class="item">
                <div class="row no-padding">
                    <div class="col no-padding">
                        #{{details.order_id}} <br>
                        {{details.created_at | amFromUnix | amDateFormat:'DD MMM\' YYYY hh:mm a'}}
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div style="font-size: 24px;">{{details.customer_number}}</div>
                <div style="height: 10px;"></div>
                <p>{{utils.operatorName(details.operator_id)}}</p>
                <p>{{utils.circleName(details.circle_id)}}</p>

                <span class="label label-success"
                      ng-class="{
                        'label-success' : details.status == '1',
                        'label-danger': details.status == '2' || details.status == '4',
                        'label-warning': details.status == '3' || details.status == null || details.status == '0'
                        }">
                            <span ng-if="details.status == '1'">Success</span>
                            <span ng-if="details.status == '2' || details.status == '4'">Failed</span>
                            <span ng-if="details.status == '3' || details.status == null || details.status == '0'">Pending</span>
                        </span>
                &nbsp;
                <span class="label label-warning"
                      ng-if="(details.status == '0' || details.status == null || details.status == '3') &&details.payment_gw_txn_id && details.customer_amount != details.payment_received">Waiting for payment</span>
                <div style="height: 10px;"></div>
                <div ng-if="details.status == '2' || details.status == '4'">
                    <!--failed-->
                    <p ng-if="details.wallet_refund_txn_id">
                        The amount has been refunded in your wallet.
                    </p>
                    <p ng-if="details.error"
                       style="font-size: 12px;">
                        Message: {{details.error}}
                    </p>
                </div>
                <div ng-if="details.status == '1'">
                    <!--Success-->
                    <p ng-if="details.operator_txn_id">
                        <strong>Operator's txn id:</strong>
                        #{{details.operator_txn_id}}
                    </p>
                    <p ng-if="details.reward_coin_amount">
                        + {{details.reward_coin_amount}} coins earned
                    </p>
                </div>

                <div ng-if="details.status == '0' || details.status == null || details.status == '3'">
                    <div style="height: 10px;"></div>
                    <div class="">
                        <ion-spinner icon="android"
                                     style="display: inline-block;vertical-align: middle;"></ion-spinner>
                        <span style="vertical-align: middle;margin-top: -5px;display: inline-block;margin-left: 5px;">
                            <span ng-if="details.customer_amount == details.payment_received">Processing payment</span>
                            <span ng-if="details.payment_gw_txn_id && details.customer_amount != details.payment_received">Waiting for payment</span>
                        </span>
                    </div>
                </div>

                <div style="height: 20px;"></div>
                <div>
                    <div class="row no-padding">
                        <div class="col no-padding">
                            Payment by: {{details.payment_mode_name}}
                        </div>
                        <div class="col no-padding">
                            <div class="text-right">
                                <span style="font-size: 20px;">₹&nbsp;{{details.customer_amount}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="font-size: 12px;margin-top: 5px;"
                     ng-if="details.payment_wallet_amount && details.payment_gw_amount">
                    <div ng-if="details.payment_wallet_amount">Pay using Wallet
                        ₹{{details.payment_wallet_amount}}
                    </div>
                    <div ng-if="details.payment_gw_amount">Pay using Online payment
                        ₹{{details.payment_gw_amount}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card fl"
             ng-show="details && details.plan.value">
            <div class="item">
                <div>Plan that was available at the time of this recharge<br>
                    {{utils.operatorName(details.plan.operator_id)}} -
                    {{utils.circleName(details.plan.circle_id)}}
                </div>
                <div style="height: 10px;"></div>
                <strong>Recharge value:</strong>
                ₹ {{details.plan.value}} -
                <span ng-if="details.plan.validity"><strong>Validity</strong> {{details.plan.validity}}</span>
                <span ng-if="!details.plan.validity">No validity</span>
                <br>
                <strong>Benefits:</strong>
                {{details.plan.benefits}}
                <div style="height: 10px;"></div>
                <div style="font-size: 12px;">NOTE: The plan shown is only for reference purpose</div>
            </div>
        </div>
        <div ng-show="!logincheck"
             style="margin-top:50px;">
            <div class="card padding">
                <p style="text-align: center;">You need to login to access this panel</p>
                <login-dtr></login-dtr>
            </div>
        </div>
    </ion-content>
</ion-view>