<ion-view title="Transaction" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">
        <div ng-show="logincheck">
             <div class="list">
                <a class="item item-icon-left" >
                    <i class="icon ion-plus-circled"></i> #7889&nbsp;(COD)<br>Added &#x20b9 900
                    <span class="item-note">
                        18-Nov-2016
                    </span>
                </a>
                <div class="item item-text-wrap" ng-show="!chip_transaction">
                    No chip transaction wet!
                </div>
            </div>
            <div ng-show="!logincheck" style="margin-top:50px;">
                <div class="card padding">
                    <p style="text-align: center;">You need to login to access this panel</p>
                    <login-dtr></login-dtr>

                </div>
            </div>
    </ion-content>
</ion-view>