<ion-view title="Cash pickup requests" id="page4" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="false" overflow-scroll="true">
        <div ng-show="logincheck">
            <div class="list">
                <a class="item item-icon-left" collection-repeat="value in walletRequest">
                    <span class="cst-date-right-align">
                        {{value.created_at| amFromUnix  | amDateFormat:'DD MMM\' YYYY hh:mm a'}}
                    </span>
                    <p><strong>₹ {{value.amount}}</strong></p>
                    <p>Status: {{(value.status == 3)?'Rejected':(value.status == 1)? 'Accepted':'Pending'}}</p>
                    <p ng-show="value.status == 3" style="font-size: 12px; max-width: 255px;">Reason: {{value.cancel_reason}}
                    </p>
                    <i class="icon" ng-class="(value.status == 3)?'ion-close-circled cst-fail':(value.status == 1)?'ion-checkmark-circled cst-success':'ion-minus-circled cst-pending'"></i>
                </a>
                <div class="item item-text-wrap" ng-show="!walletRequest || walletRequest.length == 0">
                    <div class="text-center" style="color: #aaa">
                        <div style="height: 20px;"></div>
                        <div style="font-size: 30px;"><i class="icon ion-android-list"></i></div>
                        <div style="height: 10px;"></div>
                        <div style="font-size: 16px;">No requests have been made yet</div>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll ng-if="walletRequest.length < data.total" on-infinite="getWalletRequest(false)" distance="1%" immediate-check="false">
            </ion-infinite-scroll>
        </div>
        <div ng-show="!logincheck" style="margin-top:50px;">
            <div class="card padding">
                <p style="text-align: center;">You need to login to access this panel</p>
                <login-dtr></login-dtr>
            </div>
        </div>
    </ion-content>
</ion-view>