<ion-view title="Wallet"
          id="page4"
          hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button class="button-icon ion-navicon w"
                menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button-icon ion-more w"
                style="height: 44px;"
                type="button"
                ng-click="popover.show();popFlag = true;">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header"
                 has-bouncing="false"
                 overflow-scroll="true">
        <div ng-show="logincheck">
            <div class="tabs-striped tabs-color-assertive"
                 style="position: static; margin-bottom: 15px;">
                <div class="tabs"
                     style="position: static;">
                    <a class="tab-item active"
                       data-ink-color="#ef473a"
                       href="#/side-menu21/wallet"
                       data-ink-opacity=".35">
                        <!--<i class="icon ion-home"></i> -->
                        Wallet
                    </a>
                    <a class="tab-item"
                       data-ink-color="#ef473a"
                       href="#/side-menu21/chips"
                       data-ink-opacity=".35">
                        <!--<i class="icon ion-star"></i> -->
                        Chips
                    </a>
                </div>
            </div>
            <div class="list item-text-wrap padding">
                <div class="text-center">
                    <span style="font-size: 35px; vertical-align: middle">₹ {{balance.wallet || 0}}</span>
                    &nbsp;&nbsp;
                    <span style="vertical-align: middle;">Wallet balance</span>
                </div>
                <div style="height: 25px;"></div>
                <div class="text-center">
                    <button class="button button-outline button-positive button-small"
                            ng-click="showAddWalletPop()">
                        Add money to wallet
                    </button>
                </div>
            </div>
            <p class="m"
               style="text-align: left; margin-bottom: 10px; padding-left: 15px;">
                Wallet activity
            </p>
            <div class="list">
                <a class="item"
                   style="border-top: solid 1px rgba(0,0,0,0.1)"
                   item-height="114px"
                   collection-repeat="value in balance_transaction">
                    <span class="item-note text-right">
                        <span ng-if="value.amount_credited != 0">Added<br> <span style="font-size: 18px; color: black">+ ₹ {{value.amount_credited}}</span></span>
                    <span ng-if="value.amount_deducted != 0">Debited<br> <span style="font-size: 18px; color: black">— ₹ {{value.amount_deducted}}</span></span>
                    </span>

                    <!--<i class="icon" ng-class="(value.amount_credited != 0)?'ion-plus-circled':'ion-plus-circled'"></i>-->
                    #{{value.id}}<br>

                    <div style="">{{value.created_at| amFromUnix | amDateFormat:'DD MMM\' YYYY hh:mm a'}}</div>
                    <div style="color: #aaa">{{value.comment}}</div>
                </a>
                <a class="item item-text-wrap"
                   ng-show="!balance_transaction">
                    <div class="text-center"
                         style="color: #aaa">
                        <div style="height: 20px;"></div>
                        <div style="font-size: 30px;"><i class="icon ion-android-list"></i></div>
                        <div style="height: 10px;"></div>
                        <div style="font-size: 16px;">No activity yet</div>
                    </div>
                </a>
            </div>
            <ion-infinite-scroll ng-if="balance_transaction.length < total"
                                 on-infinite="walletHistory(false)"
                                 distance="1%"
                                 immediate-check="false">
            </ion-infinite-scroll>
        </div>
        <div ng-show="!logincheck"
             style="margin-top:50px;">
            <div class="padding">
                <div class="text-center">
                    <span style="font-size: 50px;" class="icon ion-android-lock"></span>
                    <p style="margin-top: 10px;">
                        You need to be logged-in to see what lives here
                    </p>
                </div>
                <div class="row">
                    <div class="col-25"></div>
                    <div class="col-50">
                        <login-dtr on-login="walletHistory()"></login-dtr>
                    </div>
                    <div class="col-25"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>